<h2>Resend confirmation instructions</h2>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= render "shared/error_messages", :target => resource %>

  <p><%= f.label :email,_("E-Mail") %><br />
  <%= f.text_field :email %></p>

  <p><%= f.submit _("Resend confirmation instructions") %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>

