<p>
    <b>Name:</b>
    <%= @cause.name %>
</p>
<p>
    <b>Title:</b>
    <%= @cause.url %>
</p>
<p>
    <b>Content:</b>
    <%= @cause.description %>
</p>
<p>
    <b><%=s_('Cause|City') %></b>
    <%= @cause.city %>
</p>
<p>
    <b>Founds Needed:</b>
    <%= @cause.funds_needed %>
</p>
<p>
    <b><%=_("Status") %>:</b>
    ( <%= @cause.funds_raised/@cause.funds_needed %>% Complete)
</p>
<div id="vote_div">
    <% form_tag 'vote', :remote => true,:success => 'return displaymessage();' do %>
    <%= hidden_field_tag "cause_id", @cause.id %>
    <%= submit_tag 'Vote' %>
	    <% end %>
</div>
<!--# :update => "vote_div" -->

<% content_for(:js) do%>

  function displaymessage()
  {
    alert("Hello World!");
    return false;
  }

<%end%>

