<p>
    <b>Name:</b>
    <%= @cause.name %>
</p>
<p>
    <b>Title:</b>
    <%= @cause.url %>
</p>
<p>
    <b>Content:</b>
    <%= @cause.description %>
</p>
<p>
    <b><%=s_('Cause|City') %></b>
    <%= @cause.city %>
</p>
<p>
    <b>Founds Needed:</b>
    <%= @cause.funds_needed %>
</p>
<p>
    <b><%=_("Status") %>:</b>
    ( <%= @cause.funds_raised/@cause.funds_needed %>% Complete)
</p>
<div id="vote_div">
    <% form_tag :remote => true,:url => 'vote',:loading => "Element.show('status')",:success => "Element.hide('status')" do %>
    <%= hidden_field_tag "cause_id", @cause.id %>
    <%= submit_tag 'Vote' %>
	<%=flash[:notice] %>
    <% end %>
</div>
<!--# :update => "vote_div" -->
