<%= bivo_form_for(@expense_category) do |f| %>
  <% if @expense_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expense_category.errors.count, "error") %> prohibited this expense_category from being saved:</h2>

      <ul>
      <% @expense_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="gnFilMain2">
    <p class="genFilTxt2"><%= _('Name') %></p>
    <p class="genFilTxt2"><%= f.text_field :name, :class => "genFil" %></p>
    <br class="spacer">
    <br class="spacer">
    <p class="genFilTxt2">
      <%= orange_button_to _('Save') %>
      <%= orange_link_to _('Back'), expense_categories_path %>
    </p>
  </div>
<% end %>
