<!--Form for edit each comment -->

<%form_tag(
      {:controller => 'comments',:action => 'update', :id => comment.id},
      :remote => true,
      :id=>"edit_comment_form_#{comment.id}",:style => "display:none") do%>
          <%=text_area(
              :comment,
              :body,
              :size => "30x5",
              :id => "text_area_" + comment.id.to_s,
              :class => "accfil accMess")
           %>
          <%= hidden_field_tag(:entity_id, entity.id) %>
          <%= hidden_field_tag(:class, entity.class) %>
          <%= hidden_field_tag(:id, comment.id) %>
      <br class="spacer" />
      <ul class="rpLink">
        <li> <%=cancel_save_button comment.id%></li>
        <li class="rpPipe">|</li>
        <li> <%=save_comment_button comment.id %></li>
    </ul>


 <%end%>

