<%if @category && @path.include?(category)%>
  <li class="open">
<%else category.children.empty?%>
   <li class="closed">
<%end%>

  <%if category.children.empty?%>
    <%= image_tag "list.gif", :class => "tree_leaf" %>
  <% end %>

  <% bold = @category && (@category == category) ? 'class=fbold' : '' %>

  <a href="javascript:filterByCategory(<%=category.id%>)" <%= bold %>><%=category.name%></a>

  <%if !category.children.empty?%>
    <ul>
	  <% category.children.each do |c| %>
		  <%= render :partial => 'category_view', :locals => { :category => c, :name => name} %>
    <%end%>
    </ul>
  <%end%>

</li>

