<div>
  <%= f.fields_for :comissions, comission do |cf|%>
    <%= cf.label :value %>
    <%= cf.text_field :value %>
    <br/>
    <%= cf.label :kind %>
    <%= cf.text_field :kind %>
    <br/>
    <%= cf.label :details %>
    <%= cf.text_field :details %>
  <% end %>
</div>

