<%= form_for @shop, :html => { :multipart => true } do |f| %>
  <%= render "shared/error_messages", :target => @shop %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  
  <div class="field">
    <%= f.label :short_url %>
    <%= f.text_field :short_url %>
  </div>
  
  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>
  
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <h3><%= _("Recommended for") %></h3>
  <div class="scroll">
    <div>
      <%= f.check_box :worldwide%>
      <%= f.label :worldwide%>
    </div>
    <% @countries.each do |country|%>
      <div>
        <%= check_box_tag :country_ids, country.id, @shop.countries.include?(country), :name => 'shop[country_ids][]' %>
        <%= label_tag 'shop[country_ids][]', country.name %>
      </div>
    <% end%>
  </div>
  
  <h3><%=_("Comissions")%></h3>
  <%# render :partial => 'comission', :locals => {:f => f}, :object => Comission.new(:shop => @shop) %>
  <%# fields_for 'shop[comission_attributes][]', Comission.new(:shop => @shop), :index => 100 do |cf|%>
  <% @shop.comissions.each do |comission| %>
    <%= render :partial => 'comission', :locals => {:f => f}, :object => comission %>
  <% end %>
  
  <h3><%=_("Image")%></h3>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  
  <div class="field">
    <%= image_tag @shop.image.url(:small) if @shop.image_file_name %>
  </div>
  
  <p><%= f.submit 'Save' %></p>

<% end %>

<p><%= link_to _('Cancel'), '#' %></p>
<p><%= button_to _('Delete'), shop_path, :method => :delete, :confirm => _("Are you sure you want to delete this shop?") unless @shop.new_record? %></p>

