<% content_for :js do %>
$(function(){
	$('a.iframe').fancybox({
		onClosed: function(){
			// save current selection
			var current_selection = $('#select_categories_container :checked').map(function(){return this.value;});

			$('#select_categories_container')
				.text('Loading...')
				.load('<%=url_for :action => 'edit_categories'%>', function(){
					// restore selection
					$('#select_categories_container :checkbox').each(function(){
						if ($.inArray(this.value, current_selection) != -1)
							$(this).attr('checked', true);
						else
							$(this).removeAttr('checked');
					})
				});
		}
	});
});
<% end %>

<%= bivo_form_for @shop, :html => { :multipart => true } do |f| %>
  <%= render "shared/error_messages", :target => @shop %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :description %>
    <%= f.text_field :description %>

    <%= f.label :short_url %>
    <%= f.text_field :short_url %>

    <%= f.label :url %>
    <%= f.text_field :url %>


  <%= f.row_label _("Affiliate Redirection") %>
  <%= f.radio_button :redirection,:search_box  %> <%= f.rhs_label :search_box %>
  <%= f.radio_button :redirection,:purchase_button %>  <%= f.rhs_label :purchase_button %>
  <%= f.radio_button :redirection,:custom_widget %>  <%= f.rhs_label :custom_widget %>
  <%= f.radio_button :redirection,:custom_html %>  <%= f.rhs_label :custom_html %>

  <%= f.row_label _("Affiliate Code") %>
  <%= f.text_area :affiliate_code , :rows=>"5", :cols=>"47"%>
  <%= f.row_label _("$query word will be replaced in the search box option") %>

  <%= f.row_label _("Recommended for") %>
  <div class="fat_scroll">
    <%= f.check_box :worldwide%>
    <%= f.rhs_label :worldwide%>
    <% @countries.each do |country|%>
    <p class="accfilTxt"></p>
    <%= check_box_tag :country_ids, country.id, @shop.countries.include?(country), :name => 'shop[country_ids][]' %>
    <%= f.rhs_label 'shop[country_ids][]', country.name %>
    <% end%>
  </div>

  <br/>
  <%= f.label _("Commision")%>
  <%= f.text_field :comission_value %>
  <p class="accfilTxt"></p>
  <%= f.enum_select :comission_kind , :include_blank => false%><br/><br/>
  <%= f.label _("Commision Details")%>
  <%= f.text_field :comission_details %>
  <%= f.check_box :comission_recurrent%>  <%= f.rhs_label _("recurrent each month")%>

  <%= f.label :image %>
  <%= f.file_field :image %>

  <%= image_tag @shop.image.url(:small) if @shop.image_file_name %>

  <%=f.row_label _("Categories")%>
  <div id="select_categories_container" class="field">
	<%= render 'select_categories' %>
  </div>
  <%= link_to _('Edit Categories'), :admin_edit_shop_categories, :class => 'iframe' %>

  <%= f.submit 'Save' %>

<% end %>

<div style="position:relative;top:-37px;left:500px"><%= orange_button_to _('Delete'), shop_path, :method => :delete, :confirm => _("Are you sure you want to delete this shop?") unless @shop.new_record? %></div>

<div class="bodyBot"></div>

