<%= will_paginate @shops %>

<%if @is_shop_list%>
  <% content_for :js do %>
  $(function(){
    $("#tree").treeview({
				collapsed: true,
				animated: "fast",
			  persist: "location"
     });
  });

  function filterByCategory(id){
    $('#category_field').attr('value',id);
    $('#filter_form').submit();
  }

  <%end%>
<div id="sidetree">
<div class="treeheader">&nbsp;</div>
  <ul id="tree">
    <%= render 'show_categories' %>
  </ul>
</div>
</div>

<%end%>


<div id="shop-list">

<% for shop in @shops %>
  <div class="shop">
	  <h3><%= link_to shop.display_name, shop_path(shop.id) %></h3>
    <p><b><%=_('Website:')%></b> <%=shop.url%></p>
    <p><%=shop.description%></p>
    <p><b><%=_('Shop at:')%></b> <a href= "<%=shop.url %>"> <%=shop.url %></a></p>
    <p><b><%=_('Comission')%>:</b><%=shop.comission_value%><%if shop.comission_kind == :percentage%>%<% end%> <%=_("will be donated for your purchase")%></p>
  </div>
<% end %>

</div>

