<%= will_paginate @shops %>

<%if @is_shop_list%>
  <% content_for :js do %>
  $(function(){
    $("#tree").treeview({
				collapsed: true,
				animated: "fast",
			  persist: "location"
     });
  });

  function filterByCategory(id){
    $('#category_field').attr('value',id);
    $('#filter_form').submit();
  }

  <%end%>
<div id="sidetree">
<div class="treeheader">&nbsp;</div>
  <ul id="tree">
    <%= render 'show_categories' %>
  </ul>
</div>
</div>

<%end%>


<div id="shop-list">

<% for shop in @shops %>
	<div class="shop shopListBox searBox">
		<div class="shopListBoxL"><%= link_to(image_tag("/images/shopLogo.jpg"))%></div>
		<div class="shopListBoxMid searBoxMid">
			<h3><%= link_to shop.display_name, shop_path(shop.id) %></h3>
			<%= link_to "Website: #{shop.url}", to_absolute_url(shop.url), :class => "shopListlink" %>
			<p><%= link_to "#{shop.description}", shop_path(shop.id) %></p>
		</div>
		<div class="shopListBoxRi">
			<div class="shopListGr"><a href="<%= shop_path(shop.id) %>"><span class="statInBoxNo chariRiBoxNo"><%=shop.comission_value%><%if shop.comission_kind == :percentage%>%<% end%></span><span class="shopListGrTxt">of your purchase will be<br />donated</span></a></div>
                
			<div class="buttonMainFloat">
				<div class="buttonSide accBtnSt"></div>
			  <%= shop_at_link shop, :class => "buttonMid accBtnMi"%>
				<div class="buttonSide accBtnEn"></div><br class="spacer" />
			</div>
                
                
			<!--<input type="button" name="shopAmazon" value="Shop at Amazon" id="shopAmazon" class="addBtn shopBtn" />-->
		</div>
		<br class="spacer" /> 
	</div>
<% end %>

</div>

