<%= styled_will_paginate @shops, :class => "pegi shops" %>

<% searBox = "searBox" %>
<% searBoxMid = "searBoxMid" %>

<%if @is_shop_list%>

<% searBox = "" %>
<% searBoxMid = "" %>

<%end%>


<div id="shop-list">

<% for shop in @shops %>
	<div class="shop shopListBox <%= searBox%>">
		<div class="shopListBoxL"><%= link_to(image_tag(shop.search_url))%></div>
		<div class="shopListBoxMid <%= searBoxMid%>">
			<h3><%= link_to shop.display_name, shop_path(shop.id) %></h3>
			<%= link_to "Website: #{shop.url}", to_absolute_url(shop.url), :class => "shopListlink" %>
			<p><%= link_to "#{shop.description}", shop_path(shop.id) %></p>
		</div>
		<div class="shopListBoxRi">
			<div class="shopListGr"><a href="<%= shop_path(shop.id) %>"><span class="statInBoxNo chariRiBoxNo"><%= comission_value_text(shop)%></span><span class="shopListGrTxt"><%= (_("of your purchase will be%sdonated") % '<br/>').html_safe %></span></a></div>
                
			<div class="buttonMainFloat">
				<div class="buttonSide accBtnSt"></div>
			  <%= shop_at_link shop, :class => "buttonMid accBtnMi"%>
				<div class="buttonSide accBtnEn"></div><br class="spacer" />
			</div>
                
                
			<!--<input type="button" name="shopAmazon" value="Shop at Amazon" id="shopAmazon" class="addBtn shopBtn" />-->
		</div>
		<br class="spacer" /> 
	</div>
<% end %>

</div>

