<% content_for(:head) do %>
	<%= javascript_include_tag "flexcroll" %>
<% end %>

<%= inactive_shop_notification @shop %>

<br/>
<div id="delete_shop_button">
  <%= delete_shop_button @shop %>
</div>

<br/>
<div id="edit_shop_button">
  <%= edit_shop_button @shop %>
</div>

<br/>
<div id="activate_deactivate_shop_btn">
  <%= active_deactive_shop_button @shop %>
</div>

<div class="inbodyM">
	<div class="bodyInner">
  	<div class="statGrT"><h2><%= @shop.name %></h2></div>
      <div class="boxMain">
        <div class="cauVMain">
        	<div class="shopVL">
         	  <div class="cauVLpic shopVLpic"><%= image_tag @shop.image.url if @shop.image_file_name %></div>
         	</div>
          <div class="chariMid shopVMid">
            <p class="shopMidTxt"><strong><%=("Website:")%></strong> <a href= "<%=@shop.url %>"> <%=@shop.url %></a><br /> <%= @shop.description %></p>
            <p class="shopMidTxt"><strong><%=("Affiliate program details:")%></strong>
              <%= @shop.comission_details%>
            </p>

            <p class="shopMidTxt"><strong><%=("Categories:")%></strong>
            <%= @shop.categories.map(&:name).to_sentence %>
            </p>

            <p class="shopMidTxt"><strong><%=("Keywords:")%></strong> </p>
          </div>
          <div class="shopListBoxRi">
           	<div class="shopListGr"><span class="shopBoxNo"><%= @shop.comission_value%><%if @shop.comission_kind == :percentage%>%<% end%></span><span class="shopBoxTxt"> <%=_("of your purchase will be donated")%></span></div>

  					<div class="shopListGr"><span class="shopBoxNo shopBoxNo2"><%= number_to_currency(@shop.incomes_in_period(1.month.ago, Date.today),:precision=>0)%></span><span class="shopBoxTxt"><%=("raised this month")%></span></div>

            <div class="buttonMainVote29">
  						<div class="buttonSideRec recBtnStS"></div>
           		<%= link_to(_("Shop at ") + @shop.name,shop_home_path(@shop.short_url),:class=>"buttonMidRec")%>
          		<div class="buttonSideRec recBtnEn"></div><br class="spacer" /></div>
            </div><br class="spacer" />

        	</div>
          <div class="cvNews"><h2><%=("Affiliate program performance")%></h2></div>
          <div class="cvNewsBox chriCABox">
          	<div class="cvNewsBoxIn chriCABox flexcroll">
              <ul class="statInmainT2">
           		  <li class="chariTy"><%=("Period:")%><!-- #TODO <a class="statInTLArr"><img src="images/tabBullet.png" width="7" height="4" alt="" /></a> --></li>
                <li class="chariPro noBord"><%=("Funds Raised:")%></li><br class="spacer" />
              </ul>

              <%  @shop.incomes_per_month.each do |row| %>
                <ul class="statInmainT3">
                 	<li class="chariTy"><%= row[:month].strftime("%B %Y") %></li>
                   <li class="chariPro noBord"><%= number_to_currency row[:amount] %></li><br class="spacer" />
                 </ul>
               <% end %>
            </div>
          </div>

          <div id="comments">
            <%= comments @shop %>
          </div>
        </div>
     </div>
     <div class="bodyBot"></div>
</div>

