<p>
    <b><%=_('Name:')%></b>
    <%= @shop.name %>
</p>
<p>
    <b><%=_('Short_Url')%>:</b>
    <%= @shop.short_url %>
</p>
<p>
    <b><%=_('Shop at:')%></b> <a href= "<%=@shop.url %>"> <%=@shop.url %></a>
</p>
<p>
	<b><%=_('Categories:')%></b>
	<%= @shop.categories.map(&:name).to_sentence %>
</p>
<p>
    <b><%=_('Description:')%></b>
    <%= @shop.description %>
</p>

<p>
    <b><%=_('Comission')%>:</b>
    <%=@shop.comission_value%><%if @shop.comission_kind == :percentage%>%<% end%> <%=_("will be donated for your purchase")%>

</p>
<p>
<b><%=_('Comission details')%>:</b>
  <%=@shop.comission_details%>
</p>
<p>
  <%= image_tag @shop.image.url(:small) if @shop.image_file_name %>
</p>


<br/>
<div id="delete_shop_button">
  <%= delete_shop_button @shop %>
</div>

<br/>
<div id="edit_shop_button">
  <%= edit_shop_button @shop %>
</div>

<br/>
<div id="activate_deactivate_shop_btn">
  <%= active_deactive_shop_button @shop %>
</div>

<%= render :partial => "shared/new_comment", :locals => {:object => @shop}%>

