<p>
    <b>Name:</b>
    <%= @shop.name %>
</p>
<p>
    <b>Short_Url:</b>
    <%= @shop.short_url %>
</p>
<p>
    <b>Shop at:</b> <a href= "<%=@shop.url %>"> <%=@shop.url %></a>
</p>
<p>
    <b>Description:</b>
    <%= @shop.description %>
</p>

<p>
    <b>Worldwide?:</b>
    <%= @shop.worldwide %>
</p>

<p>
    <b>aff_code?:</b>
    <%= @shop.affiliate_code%>
</p>


<br/>
<div id="delete_shop_button">
  <%= delete_shop_button @shop %>
</div>

<br/>
<div id="edit_shop_button">
  <%= edit_shop_button @shop %>
</div>

<br/>
<div id="activate_deactivate_shop_btn">
  <%= active_deactive_shop_button @shop %>
</div>

