

<% content_for(:js) do %>
  function replaceSearch(form){
    var value = $("input").val();
    if (value.trim() != ""){
      form.action = form.action.replace("$query",value);
      return true;
    }else{
      alert("you must complete the search field");
      return false;
    }
  }
<% end %>

<%= inactive_shop_notification @shop %>



<div class="headerFull">
  <div class="main">
    <div class="banM banM2">
      <div class="banartR">
        <h2 class="shopHead"><%=_("Buy through us. Change the world")%></h2>
        <%= image_tag(@shop.image.url(:small),:class=>"carzol") if @shop.image_file_name %>
        <p class="carzolTxt artRtxt"><b><%= @shop.name %></b>: <%= @shop.description %></p>
        <p class="carzolORTxt"><%= number_to_currency(@shop.incomes_in_period(1.month.ago, Date.today),:precision=>0)%></p>
        <p class="carzolTxt2"><%=_('Raised this month')%></p>
        <%= link_to _("See How it Works !"), how_it_works_url,:class => "carzolBtn" %>
      </div>
      <div class="banL">
        <%= render 'affiliate_code'%>
      </div>
    </div>
  </div>


  <div class="headerFullIn"></div>
</div>



<br class="spacer">
<br class="spacer">

<%= render 'shared/pre_footer'%>

