<% content_for(:js) do %>
	function replaceSearch(form){
    var value = $("input").val();
    if (value.trim() != ""){
      form.action = form.action.replace("$query",value);
      return true;
    }else{
      alert("you must complete the search field");
      return false;
    }
	}
<% end %>

<%= inactive_shop_notification @shop %>

<p>
  <%= link_to _("Shop Details"), shop_details_path(@shop.short_url)%> <br /> <br />

</p>



<h3><%= _("Name") %></h3>
<p><%= @shop.name %></p>

<h3><%= _("Short Url") %></h3>
<p><%= @shop.short_url %></p>

<h3><%= _("Shop at") %></h3>
<p><a href= "<%=@shop.url %>"> <%=@shop.url %></a></p>

<h3><%= _("Description") %></h3>
<p><%= @shop.description %></p>

<div>
  <%= @shop.incomes_in_period(1.month.ago, Date.today)%>
  <b><%=_('Raised this month')%></b>
</div>

<%= link_to _("See how it works"), how_it_works_url %>

<h3><%= _("Affiliate Code") %></h3>
<div>
<!-- Search box: -->
    <%if @shop.redirection == :search_box%>
        <form action="<%= @shop.affiliate_code %>" onsubmit="return replaceSearch(this)">
          <p>Search: <br/>
           <input type="text"/>
            <%= submit_tag 'submit'%>
          </form>
    <%end%>
    <!-- Purchase button: -->
    <%if @shop.redirection == :purchase_button%>
      <b><%=_('Go to:')%></b> <a href= "<%=@shop.affiliate_code %>"> <%=@shop.name %></a>
    <%end%>

    <!-- Custom widget: -->
    <%if @shop.redirection == :custom_widget%><%=raw @shop.affiliate_code%><%end%>
</div>

<p>
  <%= image_tag @shop.image.url(:small) if @shop.image_file_name %>
</p>

