<p>
    <b><%=_('Name:')%></b>
    <%= @shop.name %>
</p>
<p>
    <b><%=_('Short_Url')%>:</b>
    <%= @shop.short_url %>
</p>
<p>
    <b><%=_('Shop at:')%></b> <a href= "<%=@shop.url %>"> <%=@shop.url %></a>
</p>
<p>
    <b><%=_('Description:')%></b>
    <%= @shop.description %>
</p>

<p>
    <b><%=_('affiliate code')%>:</b>
    <%= @shop.affiliate_code%>
</p>

<p>
  <%= image_tag @shop.image.url(:small) if @shop.image_file_name %>
</p>

