<% content_for(:js) do %>
	function replaceSearch(form){
    var value = $("input").val();
    if (value != ""){
      form.action = form.action.replace("$query",value);
      return true;
    }else{
      alert("you must complete the search field");
      return false;
    }
	}
<% end %>


<p>
    <b><%=_('Name:')%></b>
    <%= @shop.name %>
</p>
<p>
    <b><%=_('Short_Url')%>:</b>
    <%= @shop.short_url %>
</p>
<p>
    <b><%=_('Shop at:')%></b> <a href= "<%=@shop.url %>"> <%=@shop.url %></a>
</p>
<p>
    <b><%=_('Description:')%></b>
    <%= @shop.description %>
</p>

<p>
    <b><%=_('affiliate code')%>:</b><br/>
    <!-- Search box: -->
    <%if @shop.redirection == :search_box%>
        <form action="<%= @shop.affiliate_code %>" onsubmit="return replaceSearch(this)">
          <p>Search: <br/>
           <input type="text"/>
            <%= submit_tag 'submit'%>
          </form>
    <%end%>
    <!-- Purchase button: -->
    <%if @shop.redirection == :purchase_button%>
      <b><%=_('Go to:')%></b> <a href= "<%=@shop.affiliate_code %>"> <%=@shop.name %></a>
    <%end%>

    <!-- Custom widget: -->
    <%if @shop.redirection == :custom_widget%><%=raw @shop.affiliate_code%><%end%>

</p>

<p>
  <%= image_tag @shop.image.url(:small) if @shop.image_file_name %>
</p>

