<% content_for(:head) do %>
	<%= javascript_include_tag "pagination" %>
<% end %>


<% title "Shops" %>
<div class="inbodyM">
	<div class="bodyInner">
    	<div class="statGrT"><h2><%= _("Search Results")%></h2></div>
        <div class="boxMain">
			<%= form_tag({:controller => :shops, :action => :search, :id => "filter_form" },{ :method => :get, :id => "filter_form"}) do %>
	        	<div class="searFilM">
					
					<%= text_field_tag :search_word, @search_word, :class => "searFill", :id => "Search"  %> 
           
	               <div class="buttonMainSearM">
	                    <div class="buttonSide accBtnSt"></div>
						<%= submit_tag _('Search'), :class =>"buttonMid accBtnMi" %>
	                    <div class="buttonSide accBtnEn"></div><br class="spacer" />
	               </div>
               
	                <!--<input type="button" name="search" id="search" value="Search" class="serchBtn" />--><br class="spacer" />
	            </div>
				<p class="searFilTxt"><%= _("Enter the product or service to buy (i.e. books) or the name of the seller (i.e. Amazon)")%></p>
            
	   	  		<div class="gnFilMain">
	            	<h3 class="shopRinHead searInHead">
                  <%= n_("%{count} result found", "%{count} results found", @count) % {:count => @count} %>
                </h3>
	            	<p class="genFilTxt"><%= label_tag :sorting, _('Sort by')%></p><%= select_tag :sorting, options_for_select(@sortings, @sorting), :onchange =>"$('#filter_form').submit()", :class => "genChoo" %>
	                <div class="pegi pagination"><%= n_("%{count} result found", "%{count} results found", @count) % {:count => @count} %>
	          		</div><br class="spacer" />
	            </div>
	
				<div id="shops">
				  <%= render 'shops' %>
				</div>
	
				<div class="rgtFilmarg">
					<%= select_tag :per_page, options_from_collection_for_select(@page_sizes, 'to_i', 'to_s', @per_page), :class => "showChoo", :onchange =>"$('#filter_form').submit()"%>
					<p class="showTxt"><%= label_tag :per_page, _("Show per page")%></p>
					<br class="spacer" />
	            </div>
           	<% end %>
			
        </div>
     </div>
	 <div class="bodyBot"></div>
</div>
