<% content_for(:head) do %>
	<%= javascript_include_tag "pagination" %>
<% end %>


<% title "Shops" %>
<div class="inbodyM">
	<div class="bodyInner">
    	<div class="statGrT"><h2><%= _("Search Results")%></h2></div>
        <div class="boxMain">
			<%= form_tag({:controller => :shops, :action => :search, :id => "filter_form" },{ :method => :get }) do %>
	        	<div class="searFilM">
					
					<%= text_field_tag :search_word, @search_word, :class => "searFill" %> 
           
	               <div class="buttonMainSearM">
	                    <div class="buttonSide accBtnSt"></div>
						<%= submit_tag _('Search'), :class =>"buttonMid accBtnMi" %>
	                    <div class="buttonSide accBtnEn"></div><br class="spacer" />
	               </div>
               
	                <!--<input type="button" name="search" id="search" value="Search" class="serchBtn" />--><br class="spacer" />
	            </div>
				<p class="searFilTxt"><%= _("Enter the product or service to buy (i.e. books) or the name of the seller (i.e. Amazon)")%></p>
            
	   	  		<div class="gnFilMain">
	            	<h3 class="shopRinHead searInHead"><%=@count%> <%if @count== 1 %> <%=_("result found")%> <%else%> <%=_("results found")%> </h3>
	            	<p class="genFilTxt"><%= label_tag :sorting, _('Sort by')%></p><%= select_tag :sorting, options_for_select(@sortings, @sorting) %>
	                <div class="pegi">
	                	<ul>
	                    	<li><a href="#"><img src="/images/pegiarL.png" width="4" height="7" alt="" /></a></li>
	                        <li><a href="#">1</a></li>
	                        <li><a href="#">2</a></li>
	                        <li><a href="#">3</a></li>
	                        <li><a href="#">4</a></li>
	                        <li><a href="#">5</a></li>
	                        <li class="noPad"><a href="#"><img src="/images/pegiarR.png" width="4" height="7" alt="" /></a></li><br class="spacer" />
	                    </ul>
	          		</div><br class="spacer" />
	            </div>
	
				<div id="shops">
				  <%= render 'shops' %>
				</div>
	
				<div class="rgtFilmarg">
					<%= select_tag :per_page, options_from_collection_for_select(@page_sizes, 'to_i', 'to_s', @per_page)%>
					<p class="showTxt"><%= label_tag :per_page, _("Show per page")%></p>
					<br class="spacer" />
	            </div>
           	<% end %>
			
        </div>
     </div>
	 <div class="bodyBot"></div>
</div>

<%end%>
