








<!--***********************************************Body-start*****************************************-->
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

  <div class="inbodyM">
	  <div class="bodyInner logM">
      	<div class="logL">
          	<h2>Login</h2>

            <%= f.text_field :email,:value=>"Email :", :onfocus=>"if(value=='Email :') value='';",:onblur=>"if(value=='') value='Email :';",:class=>"logfil" %></p>

             <div id="pass_fld_1"> <%= f.password_field :password,:class=>"logfil"%></div>

            <% if devise_mapping.rememberable? -%>
              <%= f.check_box :remember_me,:class=>"logchk" %> <%= f.label :remember_me,_("Remember Me"),:class=>"logchkTxt" %>
              <br class="spacer" />
            <% end -%>

          <div class="buttonMainLog">
				  <div class="logBtnSt"></div>
            <%= f.submit _("Sign in"),:class=>"buttonMidlog"%>
            <div class="logBtnEn"></div><br class="spacer" />
            </div>

              <div class="buttonMainLog">
				  <div class="logBtnSt"></div>
            <%= link_to _("Login using"), "/auth/facebook", :confirm => _("If you are a charity, please use bivo registration and cancel the sign in. Otherwise, click ok."),:class=>"buttonMidlog" %>

                  <div class="logBtnEnFace"></div><br class="spacer" />
             	</div>
          <p></p>
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
              <%= link_to "Forgot your password?", new_password_path(resource_name),:class =>"clickTxt" %>
	        <% end -%>


              <br class="spacer" />
          </div>
          <div class="logR">
          	<h2>Don't have an account ?</h2>
              <p class="clickTxt">Click below to create an account</p>
              <!--<input type="button" name="register" id="register" value="Register" class="regisBtn" />-->


              <div class="buttonMainReg">
				  <div class="logBtnSt"></div>
            <%= link_to _("Register"), new_user_registration_path, :class=>"buttonMidlog" %>

                  <div class="logBtnEn"></div><br class="spacer" />
             	</div>

          </div>
       </div>
	   <div class="bodyBot"></div>
  </div>
<% end %>

