<% content_for(:js) do %>
$(function(){
	$('.watermark').updnWatermark();
  $('.updnWatermark').each(function(){
    var siblingPos = $(this).next().position();
    $(this).css('top', siblingPos.top);
    $(this).css('left', siblingPos.left);
    $(this).show();
    if ($(this).next().val() != '') $(this).children().first().hide();
  });
});
<% end %>


<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

  <div class="inbodyM">
	  <div class="bodyInner logM">
      	<div class="logL">
          	<h2><%=_("Login")%></h2>

            <%= f.text_field :email,:title=>_('Email :'),:class=>"logfil watermark" %>

             <div id="pass_fld_1"> <%= f.password_field :password, :title=>_("Password :"),:class=>"logfil watermark"%></div>
 <br class="spacer" />
            <% if devise_mapping.rememberable? -%>
             <p> <%= f.check_box :remember_me,:class=>"logchk" %><%= f.label :remember_me,_("Remember Me"),:class=>"logchkTxt" %></p>
              <br class="spacer" />
            <% end -%>

          <div class="buttonMainLog">
				  <div class="logBtnSt"></div>
            <%= f.submit _("Sign in"),:class=>"buttonMidlog"%>
            <div class="logBtnEn"></div><br class="spacer" />
            </div>

              <div class="buttonMainLog">
				  <div class="logBtnSt"></div>
            <%= link_to _("Login using"), "/auth/facebook", :confirm => _("If you are a charity, please use bivo registration and cancel the sign in. Otherwise, click ok."),:class=>"buttonMidlog" %>

                  <div class="logBtnEnFace"></div><br class="spacer" />
             	</div>
          <p></p>
          <br class="spacer" />
          <br class="spacer" />
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
            <%= link_to _("Forgot your password?"), new_password_path(resource_name),:class =>"clickTxt" %>
	      <% end -%>
          <br class="spacer" />


          </div>
          <div class="logR">
          	<h2><%=_("Don't have an account ?")%></h2>
              <p class="clickTxt"><%=_("Click below to create an account")%></p>

              <div class="buttonMainReg">
				       <div class="logBtnSt"></div>
                  <%= link_to _("Register"), new_user_registration_path, :class=>"buttonMidlog"%>
                  <div class="logBtnEn"></div>
                <br class="spacer" />
             	</div>

          </div>
       </div>
	   <div class="bodyBot"></div>
  </div>
<% end %>

