<h2>
<% if (@transaction.id.nil?) %>
  <%= _("Add Income/Expense") %>
<% else %>
  <% if (@transaction.type == "Income") %>
    <%= _("Edit Income") %>
  <% else %>
    <%= _("Edit Expense") %>
  <% end %>  
<% end %>
</h2>

<% content_for :js do %>

$(document).ready(function(){
  $("a.iframe").fancybox({
    'onClosed': function() {

		  // save current selection
		  var current_selection = $('#transaction_expense_category_id').val();

		  $('#transaction_expense_category_id')
		  .load('<%=url_for :controller => 'expense_categories', :action => 'list_options'%>', function(){
        if (current_selection) {
          $("#transaction_expense_category_id option[value='" + current_selection + "']").attr('selected', 'selected');
        }
		  });
    }
  });

  $('#transaction_income_category_id').change(function() {
    var selectedCategory = $('#transaction_income_category_id :selected').text();
    if (selectedCategory == "shop") {
      $("#shop").css("display", "block");
    } else {
      $("#shop").css("display", "none");
    }
  });

  $('#transaction_type').change(function() {
    var selectedCategory = $('#transaction_type :selected').text();
    if (selectedCategory == "Income") {
      $("#income_fields").css("display", "block");
      $("#expense_fields").css("display", "none");
    } else if (selectedCategory == "Expense") {
      $("#income_fields").css("display", "none");
      $("#expense_fields").css("display", "block");
    } else {
      $("#income_fields").css("display", "none");
      $("#expense_fields").css("display", "none");
    }
  });

  $('#cancel').click(function () {
    location.href = "<%= root_path %>";
    return false;
  })
});

<% end %>

<%= form_for(:transaction, @transaction, :url => create_income_and_expense_path) do |f| %>
  <%= render "shared/error_messages", :target => @transaction %>

  <p><%= f.label :type %><br />
  <%= f.select :type, [["Income","Income"], ["Expense","Expense"]], :include_blank => true %></p>

  <p><%= f.label :date %><br />
  <%= f.date_select :transaction_date %></p>

  <div id="income_fields" style="<%= get_display_of :Income, @transaction %>">
    <%= render :partial => "income_fields", 
          :locals => {:f => f, :income_categories => @income_categories, :shops => @shops, :transaction => @transaction} %>
  </div>

  <div id="expense_fields" style="<%= get_display_of :Expense, @transaction %>">
    <%= render :partial => "expense_fields",
          :locals => {:f => f, :expense_categories => @expense_categories} %>
  </div>

  <p><%= f.label :amount %><br />
  <%= f.text_field :amount %></p>

  <p><%= f.label :description %><br />
  <%= f.text_area :description %></p>

  <p><%= f.submit :Save %> <%= f.submit :Cancel, :id => "cancel" %></p>
<% end %>
