<h2><%= _("Edit User") %></h2>

<%= form_for(@resource, :as => :user, :url => admin_update_user_path, :html => { :method => :post }) do |f| %>
  <%= render "shared/error_messages", :target => @resource %>

  <%= hidden_field_tag :id, @id %>
  <%= hidden_field_tag :referer, @referer %>
  <p><%= f.label :email, _("E-Mail") %><br />
  <%= f.text_field :email %></p>

  <% if (@type == :Charity) %>
    <p><%= f.label :charity_name, _("Charity Name") %><br />
    <%= f.text_field :charity_name %></p>

    <p><%= f.label :charity_website, _("Charity Website") %><br />
    <%= f.text_field :charity_website %></p>

    <p><%= f.label :country, _("Country") %>
    <%= f.select :country_id, @countries.collect{ |c| [c.name, c.id] }, :include_blank => true %></p>

    <p><%= f.label _("City") %><br />
    <%= f.text_field :city %></p>

    <p><%= f.label _("Description") %><br />
    <%= f.text_area :description %></p>

	<p>
		<%= f.label _("Landing page") %><br />
		<%= link_to(url_for(url_charity(@resource).merge({ :only_path => false })), url_charity(@resource)) %>
	</p>

  <% elsif (@type == :PersonalUser) %>
    <%= render :partial => 'users/registrations/new_personal', :locals => {:f => f} %>

    <p><%= f.label _("About me") %><br />
    <%= f.text_area :about_me %></p>
  <% end %>

  Email me updates of projects or charities I follow when: <br />
    <p><%= f.check_box :notice_all_funds_raised %>
    <%= f.label _("All funds are raised") %></p>

    <p><%= f.check_box :notice_status_change %>
    <%= f.label _("The status changes") %></p>

    <p><%= f.check_box :notice_status_update_published %>
    <%= f.label _("New status updates are published") %></p>

    <p><%= f.check_box :notice_comment_added %>
    <%= f.label _("Comments are added") %></p>

    <% if (@type == :Charity) %>
      <p><%= f.check_box :auto_approve_comments %>
      <%= f.label _("Auto-approve comments of my charity of projects") %></p>
    <% end%>

    <p><%= f.check_box :send_me_news %>
    <%= f.label _("Send me bivo.org news") %></p>

  <p><%= f.submit _("Update") %></p>
<% end %>

