<%= link_to "Add User" %>
<%= link_to "Add Charity" %>

Show: <%= select( "search", "show", { 
                   "all"                        => "1", 
                   "charities"                  => "2", 
                   "personal accounts"          => "3", 
                   "active charities"           => "4",
                   "inactive charities"         => "5",
                   "active personal account"    => "6",
                   "inactive personal accounts" => "7"
      }) %>

<%= text_field_tag :search, :filter_by  %>
<%= submit_tag("Search") %>

<table>
  <tr>
    <th><%= _("Name") %></th>
    <th><%= _("Type") %></th>
    <th><%= _("Status") %></th>
    <th><%= _("Last Login") %></th>
    <th><%= _("Signup Date") %></th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
<% for user in @users %>
  <tr>
    <th><%= u.name %></th>
    <th><%= u.type %></th>
    <th><%= u.status %></th>
    <th></th>
    <th></th>
    <th><%= link_to _("Delete") %></th>
    <th><%= link_to _("Edit") %></th>
  </tr>
<% end %>
</table>
