<%= link_to "Add User", admin_new_personal_user_path %> |
<%= link_to "Add Charity", admin_new_charity_path %>

<br /><br />
<%= form_tag "/admin/search", :method => "get" do %>
<div>
Show: <br />

<%= select_tag :show, options_for_select(@show_options) %>

<%= text_field_tag :filter %>
<%= submit_tag("Search") %>
</div>
<% end %>
<br />

<div id="results">
  Results: <br />
  <table>
    <tr>
      <th>&nbsp;</th>
      <th><%= _("Name") %></th>
      <th><%= _("Type") %></th>
      <th><%= _("Status") %></th>
      <th><%= _("Last Login") %></th>
      <th><%= _("Signup Date") %></th>
      <th>&nbsp;</th>
    </tr>
  <% for user in @users %>
    <tr>
      <td><%= link_to _("Delete"), admin_delete_user_path(user.id), :confirm => "are you sure you want to delete the user?", :method => :post %></td>
      <td><%= user.name %></td>
      <td><%= user.type %></td>
      <td><%= user.status %></td>
      <td><%= user.last_sign_in_at %></td>
      <td><%= user.created_at %></td>
      <td><%= link_to _("Edit"), admin_edit_user_path(user.id) %></td>
    </tr>
  <% end %>
  </table>
</div>
