<%= single_block _("Create Personal User") do %>
<%= bivo_form_for(@resource, :as => @resource_name, :url => admin_create_personal_user_path) do |f| %>
  <%= render "shared/error_messages", :target => @resource %>

  <%= hidden_field_tag :referer, @referer %>

  <%= f.label :email, _("E-Mail") %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= f.label :first_name, "First Name" %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name, "Last Name" %>
  <%= f.text_field :last_name %>

  <%= f.label :nickname, "Nickname (optional)" %>
  <%= f.text_field :nickname %>

  <%= f.label :birthday, "Birthday" %>
  <%= f.date_select :birthday, {:prompt => {:day => _('Choose day'), :month => _('Choose month')}, :discard_year => true}, :class =>"accfil accChoo", :style => "width: 181px !important;" %>
  <br class="spacer"/>

  <%= f.label :gender, "Sex (optional)" %>
  <%= f.select :gender, [["Male","M"], ["Female","F"]], :include_blank => true %>

  <div class="buttons">
    <%= f.submit _("Create Account") %>
    <%= back_button (_("Cancel"))%>
  </div>
<% end %>
<% end %>

