<h2><%= _("Create Personal User") %></h2>

<%= form_for(@resource, :as => @resource_name, :url => admin_create_personal_user_path) do |f| %>
  <%= render "shared/error_messages", :target => @resource %>

  <p><%= f.label :email, _("E-Mail") %><br />
  <%= f.text_field :email %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.label :first_name, "First Name" %><br />
  <%= f.text_field :first_name %></p>

  <p><%= f.label :last_name, "Last Name" %><br />
  <%= f.text_field :last_name %></p>

  <p><%= f.label :nickname, "Nickname (optional)" %><br />
  <%= f.text_field :nickname %></p>

  <p><%= f.label :birthday, "Birthday" %><br />
  <%= f.date_select :birthday, :discard_year => true, :default => { :year => 1950 } %></p>

  <p><%= f.label :gender, "Sex (optional)" %><br />
  <%= f.select :gender, [["Male","M"], ["Female","F"]], :include_blank => true %></p>

  <p><%= f.submit _("Create Account") %></p>
<% end %>
