<%= single_block _("Create New Charity") do %>
<%= bivo_form_for(@resource, :as => @resource_name, :url => admin_create_charity_path) do |f| %>
  <%= render "shared/error_messages", :target => @resource %>
  
  <%= hidden_field_tag :referer, @referer %>

  <%= f.label :email, _("E-Mail") %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= f.label :charity_name, "Charity Name" %>
  <%= f.text_field :charity_name %>

  <%= f.label :charity_website, "Charity Website" %>
  <%= f.text_field :charity_website %>

  <%= f.label _("Short Url")%>
  <p style ="display:inline;" >
    <span><%= charity_short_url_prefix %></span>
    <%= f.inline_text_field :short_url, :id => 'short_url', :onfocus => "javascript:$('#available').html('');", :style => "width: 158px; float:none; padding-left:7px;"%> 
	<%= inline_orange_link_to _('Check Url'), "#", { :onclick => "javascript:checkUrl(); return false;"} %>
  </p>
  <br class="accfilTxt" />
  <p style="font: normal normal normal 13px/24px Arial, Helvetica, sans-serif; margin-left: 175px"><span id="available"></span></p>
  <br/>

  <%= f.label :category, "Category" %>
  <%= f.select :charity_category_id, @categories.collect{ |c| [c.name, c.id] }, :include_blank => true %>

  <%= f.label :charity_type, "Charity Type" %>
  <%= f.text_field :charity_type %>

  <%= f.label :tax_reg_number, "Tax Registration Number" %>
  <%= f.text_field :tax_reg_number %>
  
  <%= f.label :rating, "Rating" %>
  <%= select 'charity', 'rating', @ratings, {:include_blank => true},{ :class => "accChoo accfil" }%>
  <br class="spacer" />

  <%= f.label :country, "Country" %>
  <%= f.select :country_id, @countries.collect{ |c| [c.name, c.id] }, :include_blank => true %>

  <%= f.label :city, "City" %>
  <%= f.text_field :city %>

  <%= f.label _("Description") %>
  <%= f.text_area :description %>

  <% content_for :js do %> <!-- javascript code to run, for this view only -->
    <%= render :partial => 'shared/check_url', :locals => {
      :is_new => true, :url_was => nil, :url_check => '/charity/check_url'
    } %>
  <%end%>
  
  <div class="buttons">
  	<%= f.submit _("Create Account") %>
  </div>
<% end %>
<% end %>