<div class="inbodyM">
	<div class="bodyInner">

<div class="bodyInL">
	<div class="bodyInLTop"><span></span></div>
	<div class="bodyInLmid">
		<div class="bodyInLmidIn">
			<h2>Main</h2>
			<ul>
				<li><%= link_to _("User manager"), admin_user_manager_path %> </li>
				<li><%= link_to _("Shops"), all_shops_path %></li>
				<li><%= link_to _("Charities"), charities_path %></li>
			</ul>
			<h2>Accounting</h2>
			<ul>
				<li><%= link_to _("Transaction manager"), transaction_list_path %></li>
				<li><%= link_to _("Stats"), stats_path %></li>
				<li><%= link_to _("Dashboard"), dashboard_path %> </li>				
			</ul>
			<h2>Site Maintenance</h2>
			<ul>
				<li><%= link_to "Run processor", :action => 'send_mails' %></li>
				<li><%= link_to _("Translation manager"), translation_path %> </li>				
			</ul>
         </div>
    </div>
	<div class="bodyInLbot"></div>
</div>

<div class="bodyInR">
	<h2><%= _("Admin tools") %></h2>
	
	<div class="bodyInRBox"><div class="bodyInRBox2">
		<p class="InneRTxt">There are <%= @pending_mails %> pending mails. <%= link_to "Run processor", :action => 'send_mails' %></p>
	</div></div>
</div>

	</div>
</div>