<h1><%= _("Admin tools") %></h1>

<ul>
  <li><%= link_to _("Transaction manager"), transaction_list_path %></li>
  <li><%= link_to _("User manager"), admin_user_manager_path %> </li>
  <li><%= link_to _("Shops"), shops_path %></li>
  <li><%= link_to _("Charities"), charities_path %></li>
  <li><%= link_to _("Stats"), stats_path %></li>
  <li><%= link_to _("Dashboard"), dashboard_path %> </li>
</ul>
