<h1><%= @t_language%></h1>

<% @translated_classes.each do |clazz|%>
	<%clazz.translated_fields[:translate].each do |field|%>
		<h2><%= clazz.name%> <%=field.to_s%></h2>
			<ul>
				<% clazz.translation_pending(@t_language).each do |instance|%>
					<%= form_tag({:action => "save_translation", :id => instance.id, :clazz => clazz.name, :t_field => field, :lang => @t_language}, {:remote => true}) do %>
						<li><%= label_tag :translation, instance.send(field)%>
					    <%= text_field_tag :translation %>
					    <%= submit_tag "Translate"%></li>
					  <% end %>		
				<%end%>
			</ul>
	<%end%>
	
<%end%>