<%= large_single_block _("Translations for %s") % Language.by_id(@t_language).name do %>

<% @translated_classes.each do |clazz|%>
	<%clazz.translated_fields[:translate].each do |field|%>
	
	<div class="cvNews"><h2><%= clazz.name%> <%=field.to_s%></h2></div>
	<div class="cvNewsBox"><div style="padding: 20px;">
	
			<ul>
				<% clazz.translation_pending(@t_language).each do |instance|%>
					<%= form_tag({:action => "save_translation", :id => instance.id, :clazz => clazz.name, :t_field => field, :lang => @t_language}, {:remote => true}) do %>
						<li>
							<p class="accfilTxt">
								<%= label_tag :translation, instance.send(field)%>
							</p>
						    <%= text_field_tag :translation, nil, :class => "accfil", :style => "margin-right: 10px" %>
						    <%= orange_submit_tag "Translate" %>
							<br class="spacer"/>
						</li>
					  <% end %>		
				<%end%>
			</ul>

			<br class="spacer" />
			<%=back_button(_("Go back"))%>
			<br class="spacer" />
	</div></div>
	
	<%end%>
		
<%end%>

<%end%>
