<%= large_single_block _("User Manager") do %>
  <br class="spacer">
	<%= orange_link_to _("Add User"), admin_new_personal_user_path %>
	<%= orange_link_to _("Add Charity"), admin_new_charity_path %>
	<br /><br />
	<%= form_tag admin_user_manager_path, :method => "get" do %>
	  <div class="gnFilMain2">
	    <p class="genFilTxt2"><%= _("Show") %> <%= select_tag :show, options_for_select(@show_options, @show), :class => :genChoo2 %></p>
	    <p class="genFilTxt2">Filter by</p><%= text_field_tag :filter, @filter, :class => "genFil" %></p>
      <div><%= orange_button_to _("Search"), :disable_with => _('Searching...') %></div>
      <%= styled_will_paginate @users %>
    </div>
  <% end %>
    <br class="spacer" />
    <%= render 'users' %>
    <%= form_tag admin_user_manager_path, :method => "get" do %>
      <%= hidden_field_tag :show, @show %>
      <%= hidden_field_tag :filter, @filter %>
      <br class="spacer" />
	    <%= select_tag :per_page, options_from_collection_for_select(@page_sizes, 'to_i', 'to_s', @per_page), :class => :showChoo, :onchange => submit_form %>
      <p class="showTxt"><%= _("Show per page")%></p>
      <br />
    <% end %>
<% end %>
