<%= f.label _("Cause Name")%>
<%= f.text_field :name %>

<%= f.label :short_url, _("Short Url"), :for => 'short_url' %>
  <p style ="display:inline;" >
    <span><%= cause_short_url_prefix %></span>
    <%= f.inline_text_field :url, :id => 'short_url', :onfocus => "javascript:$('#available').html('');", :style => "width: 178px; float:none; padding-left:7px;"%> 
	<%= inline_orange_link_to _('Check Url'), "#", { :onclick => "javascript:checkUrl(); return false;"} %>
  </p>
  <br class="accfilTxt" />
  <p style="font: normal normal normal 13px/24px Arial, Helvetica, sans-serif; margin-left: 175px"><span id="available"></span></p>
  <br/>

<%= f.label _('Category')%>
<%= collection_select('cause', 'cause_category_id', CauseCategory.all, :id, :name, {:include_blank => true} ,{:class =>"accChoo accfil"}) %>
<br class="spacer"/>

<%= f.label _('Funds needed')%>
<%= f.text_field :funds_needed %>