<%= bivo_form_for @cause do |f|%>

  <%= render "shared/error_messages", :target => @cause %>

  <%= f.hidden_field :charity_id %>

  <%= render :partial => @partial_cause_edit, :locals => { :f => f }  %>

  <%= f.label _('Country')%>
  <%= collection_select('cause', 'country_id', Country.all, :id, :name, {:include_blank => true} ,{:class =>"accChoo accfil"}) %>
  <br class="spacer" />

  <%= f.label _('City')%>
  <%= f.text_field :city %>

  <%= f.label _('Description') %>
  <%= f.wysiwyg :description %>

<div class="buttons">
  <%= f.submit 'Save' %>
  <%= orange_link_to_function _('Cancel'), "history.back()" %>
</div>

<% end %>

<% content_for :js do %> <!-- javascript code to run, for this view only -->
    <%= render :partial => 'shared/check_url', :locals => {
      :is_new => @cause.new_record?, :url_was => @cause.url_was, :url_check => '/cause/check_url'
    } %>
<%end%>

