<%= render "shared/error_messages", :target => @cause %>

<%= f.label "Cause Name"%><br/>
<%= f.text_field :name %><br/>

<%= f.label "Short Url"%><br/>
http://www.bivo.org/cause/<%= f.text_field :url %><br/>

<%= f.label 'Category'%><br/>
<%= collection_select('cause', 'cause_category_id', CauseCategory.all, :id, :name) %><br/>

<%= f.label 'Funds needed'%><br/>
<%= f.text_field :funds_needed %><br/>

<table>
	<tr>
		<td>
			<%= f.label 'Country'%>
		</td>
		<td>
			<%= f.label 'City'%>
		</td>
	</tr>
	<tr>
		<td>
			<%= collection_select('cause', 'country_id', Country.all, :id, :name) %>
		</td>
		<td>
			<%= f.text_field :city %>
		</td>
	</tr>
</table>

<%= f.label 'Description' %><br/>
<%= f.text_area :description %>

<br/>

<%= f.submit 'Save' %> &nbsp;
<%= tag 'input', {:type => 'button', :value => 'Cancel', :onclick => "javascript:window.location = '#{root_path}';"} %>