<%= f.label _("Cause Name")%>
<%= f.text_field :name %>

<%= f.label _("Short Url")%>
http://www.bivo.org/cause/<%= f.text_field :url, :id => 'short_url', :onfocus => "javascript:$('#available').html('');"%>
<%= tag 'input', {:type => 'button', :value => _('Check Url'), :onclick => "javascript:checkUrl();"} %>
&nbsp;
<span id="available"></span>
<br class="spacer"/>

<%= f.label _('Category')%>
<%= collection_select('cause', 'cause_category_id', CauseCategory.all, :id, :name) %>
<br class="spacer"/>

<%= f.label _('Funds needed')%>
<%= f.text_field :funds_needed %>