<%= form_for @cause do |f|%>

  <%= render "shared/error_messages", :target => @cause %>
  <br/>  <br/>
  <%if current_user.is_admin_user%>
     <%= f.label _('Charity')%>: <%= collection_select('cause', 'charity_id', Charity.all, :id, :name) %>
  <%end%>

  <br/>  <br/>
  <%= f.label _("Cause Name")%>
  <%= f.text_field :name %><br/>

  <%= f.label _("Short Url")%><br/>
  http://www.bivo.org/cause/<%= f.text_field :url, :id => 'short_url', :onfocus => "javascript:$('#available').html('');"%>
  <%= tag 'input', {:type => 'button', :value => _('Check Url'), :onclick => "javascript:checkUrl();"} %>
  &nbsp;
  <span id="available"></span>
  <br/>

  <%= f.label _('Category')%><br/>
  <%= collection_select('cause', 'cause_category_id', CauseCategory.all, :id, :name) %><br/>

  <%= f.label _('Funds needed')%><br/>
  <%= f.text_field :funds_needed %><br/>

  <table>
	  <tr>
		  <td>
			  <%= f.label _('Country')%>
		  </td>
		  <td>
			  <%= f.label _('City')%>
		  </td>
	  </tr>
	  <tr>
		  <td>
			  <%= collection_select('cause', 'country_id', Country.all, :id, :name) %>
		  </td>
		  <td>
			  <%= f.text_field :city %>
		  </td>
	  </tr>
  </table>

  <%= f.label _('Description') %><br/>
  <%= f.text_area :description, :id => "wysiwyg", :rows=>"5", :cols=>"47"%>
  <br/>

  <%= f.submit 'Save' %> &nbsp;
  <%= tag 'input', {:type => 'button', :value => _('Cancel'), :onclick => "javascript:window.location = '#{root_path}';"} %>
  <% end %>
  <% content_for :js do %> <!-- javascript code to run, for this view only -->
    <%= render :partial => 'shared/check_url', :locals => {
      :is_new => @cause.new_record?, :url_was => @cause.url_was, :url_check => '/cause/check_url'
    } %>
  <%end%>

