<p>
    <b>Name:</b>
    <%= @cause.name %>
</p>
<p>
    <b>Title:</b>
    <%= @cause.url %>
</p>
<p>
    <b>Content:</b>
    <%= @cause.description %>
</p>
<p>
    <b><%=s_('Cause|City') %></b>
    <%= @cause.city %>
</p>
<p>
    <b>Founds Needed:</b>
    <%= @cause.funds_needed %>
</p>
<p>
    <b><%=_("Status") %>:</b>
    ( <%= @cause.funds_raised/@cause.funds_needed*100 %>% Complete)
</p>






<div id="vote_btn">
  <%= render 'vote_btn' %>
</div>

<p> Votes Count: <%=@cause.votes_count%></p>

<!-- Follow button:
<p> status (follows): <%=@follow_error %></p>
<%if @follow_allowed %>
  <%= form_tag 'follow', :remote => true  do %>
    <%= hidden_field_tag "cause_id", @cause.id %>
    <div><%= submit_tag "FOLLOW", :id => "submit_follow_btn", :onclick => '$(this).val("Loading...");return true;'%></div>
  <%end%>

<%end%>
-->

