<p>
    <b>Name:</b>
    <%= @cause.name %>
</p>
<p>
    <b>Title:</b>
    <%= @cause.url %>
</p>
<p>
    <b>Content:</b>
    <%= @cause.description %>
</p>
<p>
    <b><%=s_('Cause|City') %></b>
    <%= @cause.city %>
</p>
<p>
    <b>Founds Needed:</b>
    <%= @cause.funds_needed %>
</p>

<p>
    <b><%=_("Status") %>:</b>
    <p> if voting: (Displays the number of votes) </p>
    <p><%= vote_counter @cause %></p>
    <p> if raising: (Displays the funds raised and the fundraising progress percentage) </p>
    <p> <%= cause_funds_completed @cause %></p>
    <p> if completed: (Displays the funds raised) </p>
    <p> <%= @cause.funds_raised%> </p>


</p>

<%= vote_button @cause %>

<%= follow_button @cause %>

<%if current_user && (@cause.charity.id == current_user.id || current_user.is_admin_user) %>

  <div id="delete_button">
    <%= delete_button @cause %>
  </div>

  <div id="activate_deactivate_btn">
    <%= active_deactive_button @cause %>
  </div>

  <div id="mark_as_paid_button">
    <%= mark_as_paid_button @cause %>
  </div>


<%end%>

<%=facebook_like%>

