<p>
    <b>Name:</b>
    <%= @cause.name %>
</p>
<p>
    <b>Title:</b>
    <%= @cause.url %>
</p>
<p>
    <b>Content:</b>
    <%= @cause.description %>
</p>
<p>
    <b><%=s_('Cause|City') %></b>
    <%= @cause.city %>
</p>

<p>
<b>Founds Needed:</b>
    <%= @cause.funds_needed %>
</p>


<div id="funds_raised">
  <%= @cause.funds_raised %>
</div>

<br/>

<div id="vote_button">
  <%= vote_button @cause %>
</div>

<br/>

<div id="follow_button">
  <%= follow_button @cause %>
</div>

<br/>


<div id="delete_button">
  <%= delete_button @cause %>
</div>

<br/>

<div id="edit_button">
  <%= edit_button @cause %>
</div>

<br/>

<div id="activate_deactivate_btn">
  <%= active_deactive_button @cause %>
</div>

<br/>

<div id="facebook_like">
<%=facebook_like%>
</div>

<br/>

<div id="progress_box">
<%=progress_box @cause%>
</div>

<div>

