<p>
    <b>Name:</b>
    <%= @cause.name %>
</p>
<p>
    <b>Title:</b>
    <%= @cause.url %>
</p>
<p>
    <b>Content:</b>
    <%= @cause.description %>
</p>
<p>
    <b><%=s_('Cause|City') %></b>
    <%= @cause.city %>
</p>
<p>
    <b>Founds Needed:</b>
    <%= @cause.funds_needed %>
</p>
<p>
    <b><%=_("Status") %>:</b>
    ( <%= @cause.funds_raised/@cause.funds_needed*100 %>% Complete)
</p>

<div id="vote_btn">
  <%= render 'vote_btn' %>
</div>

<p>Votes Count:</p>
<p id = "vote_counter"> <%=@cause.votes_count%> </p>

<div id="follow_btn">
  <%= render 'follow_btn' %>
</div>

