<p> <b><%=_('Name')%></b>: <%= @cause.name %> </p>
<p> <b><%=_('Title')%></b>: <%= @cause.url %> </p>
<p> <b><%=_('Content:')%></b>: <%= raw @cause.description %> </p>
<p> <b><%=s_('Cause|City')%></b>: <%= @cause.city %> </p>
<p> <b><%=_('country')%></b>: <%= Country.find(@cause.country_id).name%> </p>
<p> <b><%=_('Founds Needed')%></b>: <%= @cause.funds_needed %> </p>
<div id="funds_raised"> <%= @cause.funds_raised %> </div>



<br/>
<div id="vote_button">
  <%= vote_button @cause %>
</div>

<br/>
<div id="follow_cause_button">
  <%= follow_cause_button @cause %>
</div>

<br/>
<div id="delete_cause_button">
  <%= delete_cause_button @cause %>
</div>

<br/>
<div id="edit_cause_button">
  <%= edit_cause_button @cause %>
</div>

<br/>
<div id="activate_deactivate_cause_btn">
  <%= active_deactive_cause_button @cause %>
</div>

<br/>
<div id="progress_box">
<%=progress_box @cause%>
</div>

<br/>
<div id="facebook_like">
<%=facebook_like%>
</div>


<div id="comments">
  <%= comments @cause %>
</div>

