<%= form_for :cause, @cause, :url =>{:action => "update"} do |f|%>
	<%= render :partial => 'form', :locals => {:cause => @cause, :f => f} %>
<%end%>

<div id="delete_button">
  <%= delete_button @cause %>
</div>

<div id="active_deactive_button">
  <%= active_deactive_button @cause %>
</div>

<div id="mark_as_paid_button">
  <%= mark_as_paid_button @cause %>
</div>

