<%= render :partial => 'form', :locals => {:cause => @cause} %>

<div id="delete_button">
  <%= delete_button @cause %>
</div>

<div id="activate_deactivate_btn">
  <%= active_deactive_button @cause %>
</div>

<div id="mark_as_paid_button">
  <%= mark_as_paid_button @cause %>
</div>

<div id="mark_as_unpaid_button">
  <%= mark_as_unpaid_button @cause %>
</div>

