<% content_for(:js) do %>

  $(function() {
    $('.filterReload').change(function() {
			$('#filter_form').submit();
		});
	});
<% end %>

<% title _('Causes') %>

<div class="inbodyM">
  <div class="bodyInner">
  	<div class="statGrT">
    	<h2><%=_('Causes List')%></h2>
      <div class="grNav">
      	<ul>
					<% @categories.each_with_index do |category, idx| %>
						<% if idx > 0 %><li class="grPipe">|</li><% end %>
						<li><%= link_to "#{category.name} (#{category.causes_count})", category_filter_url(category)%></li>
      		<% end%>
      	</ul>
      </div>
    </div>

    <div class="boxMain">
    	<%= form_tag causes_path, :method => :get, :id => "filter_form" do %>
			  <%= select_tag :status, options_from_collection_for_select(@statuses, 'to_s', 'description', @status), :class => 'showChoo filterReload' %>
			  <p class="showTxt"><%=_("Show")%></p>
		    <br class="spacer" />
  
        <%= hidden_field_tag :per_page, @per_page, :id => 'hidden_per_page_field' %>

			  <div class="gnFilMain">
        	<p class="genFilTxt"><%= _('Sort by') %></p>
        	<%= select_tag :sorting, options_for_select(@sortings, @sorting), :class => 'genChoo filterReload' %>
        	
          <p class="genFilTxt causfilTxt"><%= _('Filter by region') %></p>
          <%= select_tag :region, options_from_collection_for_select(@regions, 'id', 'name', @region), :include_blank => _('All countries'), :class => 'genChoo filterReload' %>

          <p class="genFilTxt"><%= _('Filter by') %></p>
          <%= text_field_tag :name, @name, :id => 'name_filter', :class => 'genChoo inputWithBorder' %>

          <div style="position:relative; top: -3px; left: -18px;" class="hidden">
        		<%= orange_button submit_tag(_('Search'), :disable_with => _('Searching...'), :class => 'buttonMid accBtnMi') %>
      		</div>

          <div class="pegi pagination" style="margin-top:-25px;margin-right:-10px;"><%= styled_will_paginate @causes %></div>
    		</div>
      <% end %>
      
        <div id="causes">
          <%= render 'causes' %>
        </div>
        	
            
        <div class="rgtFilmarg">
          <%= select_tag :per_page, options_from_collection_for_select(@page_sizes, 'to_i', 'to_s', @per_page), :class => 'showChoo filterReload', :onchange => "$('#hidden_per_page_field').val($(this).val());" %>
          <p class="showTxt"><%= _("Show per page")%></p>
          
          <br class="spacer" />
        </div>

    </div>
  </div>
  <div class="bodyBot"></div>
</div>


	

