<% content_for(:head) do %>
	<%= javascript_include_tag "pagination" %>
<% end %>

<% title "Causes" %>

<div id="filters">
	<% form_tag '/cause', :method => :get do %>
		<p>
			<%= _("Categories: ") %>
			<% @categories.each do |category| %>
				<%= category.name %>
			<% end%>
		</p>
		<p>
			<%= _('Filter by region') %>
			<%= select_tag :region, options_from_collection_for_select(@regions, 'id', 'name', @region), {:include_blank => _('All countries')}%>
		</p>
		<p>
			<%= _('Showing') %>
			<%= select_tag :status, options_from_collection_for_select(@statuses, 'to_s', 'to_s', @status) %>
		</p>
		<p>
			<%= submit_tag _('Search'), :disable_with => _('Searching...') %>
		</p>
	<% end %>
</div>

<br/>

<div id="causes">
  <%= render 'causes' %>
</div>
