<% content_for(:head) do %>
	<%= javascript_include_tag "pagination" %>
<% end %>

<% title "Causes" %>

<div id="filters">
	<%= form_tag causes_path, :method => :get do %>
		<p>
			<%= _("Categories: ") %>
			<% @categories.each do |category| %>
				<%= link_to "#{category.name} (#{category.cause_count})", category_filter_url(category)%>
			<% end%>
		</p>
		<p>
			<%= _('Filter by region') %>
			<%= select_tag :region, options_from_collection_for_select(@regions, 'id', 'name', @region), {:include_blank => _('All countries')}%>
		</p>
		<p>
			<%= _("Show per page")%>
			<%= select_tag :per_page, options_from_collection_for_select(@page_sizes, 'to_i', 'to_s', @per_page)%>
		</p>
		<p>
			<%= _('Showing') %>
			<%= select_tag :status, options_from_collection_for_select(@statuses, 'to_s', 'to_s', @status) %>
		</p>
		<p>
			<%= submit_tag _('Search'), :disable_with => _('Searching...') %>
		</p>
	<% end %>
</div>

<br/>

<div id="causes">
  <%= render 'causes' %>
</div>

