<div class="infootM">
  <div class="infootIn">
    <ul>
      <li>
        <strong><%=_("About Bivo")%></strong>	
        <%= link_to _("Who We Are?"), static_page(:who_we_are) %>
        <%= link_to _("How Does it Work?"), static_page(:how_it_works) %>
        <%= link_to _("FAQ"), static_page(:faq) %>
        <%= link_to _("Our Team"), static_page(:our_team) %>
        <%= link_to _("Charities We Help"), charities_url %>
        <%= link_to _("Statistics"), stats_path %>
        <%= link_to _("Contact Us"), static_page(:contact_us) %>
      </li>
      <li>
        <strong><%=_("Bivo Ideas")%></strong>
        <%= link_to _("Fund Raisers"), static_page(:fund_raisers) %>
        <%= link_to _("Social Initiatives"), static_page(:social_initiatives) %>
      </li>
      <li>
        <strong><%=_("Help Bivo")%></strong>
        <%= link_to _("Spread the Word"), static_page(:spread_the_word) %>
        <%= link_to _("Volunteer"), static_page(:volunteer) %>
        <%= link_to _("Send Feedback"), feedback_url %>
      </li>
      <li>
        <strong><%=_("International")%></strong><%@languages.each do |l| %>
        <a href="#" onclick="$('#language').val('<%=l.id%>'); $('#language').change(); return false;"><%=l.name%></a><%end%>
      </li>
<!--<%= link_to _("Shops"), shops_url %>-->
      <li class="infootcopyM noBg">
        <span class="infootcopy">
          &copy; <%=_("2010 Bivo. All Rights Reserved.")%>
          <br />
          <%=_("Bivo is a Community Interest Company")%>
          <br />
          <%=_("Registered in England")%>
        </span>
      </li>
    </ul>
  </div>
</div>

