<div style="text-align: center">
	
<%= link_to _("About Bivo"), about_url %> | 
<%= link_to _("How does it works"), how_it_works_url %> |
<%= link_to _("Charities"), charities_url %> |
<%= link_to _("Shops"), shops_url %> |
<%= link_to _("Other Fundraisers"), fund_raisers_url %>
<br/>
&copy; 2010 Bivo. All rights reserved. Bivo is a Community Interest Company registered in England.

</div>

