<div class="bodyM">
	<div class="bodyIn">
    	<div class="bodyDIVI">
            <div class="bodyL">
                <h2 class="bodyHead"><%=_("Choose Your Cause")%></h2>
                <p class="bodytxt"><%=_("Vote for charitable causes from around the globe.")%></p>

                <p class="bodytxt"><%=_("Causes with the most votes get funds faster.")%></p>
                <%= link_to _("Vote Causes"), causes_url, :class=>"bodyLBtn"  %>
            </div>
            <div class="bodyMid">
                <h2 class="bodyHead"><%=_("Change the World")%></h2>
                <p class="bodytxt"><%=_("Bivo donates commissions from all sales to the causes our users choose.")%></p>
                <p class="bodytxt"><%=_("To see how your contribution is distributed, check out Bivo's fundraising dashboard.")%></p>

                <%= link_to _("Dashboard"), dashboard_url,:class=>"bodyLBtn bodyMidBtn" %>
            </div>
            <div class="bodyR">
                <h2 class="bodyHead"><%=_("Spread the World")%></h2>
                <p class="bodytxtR"><a href="#"><%=_("Tell your friends")%></a> <%=_("about Bivo and get even more funding for your favourite causes..")%></p>
                <h2 class="bodyHead"><%=_("Volunteer")%></h2>

                <p class="bodytxtR"><a href="#"><%=_("Volunteer your time")%></a> <%=_("at Bivo and help us -- and the charities we support -- grow.")%></p>
                <h2 class="bodyHead"><%=_("Support other Fundraisers")%></h2>
                <p class="bodytxtR noMarg"><%=_("Learn more about Bivo's other social initiatives and")%> <a href="#"><%=_("fund raising projects.")%></a></p>
          </div><br class="spacer" />
       </div>
     </div>

	<div class="bodyBot"></div>
</div>

