<% content_for(:js) do %>
  $(function() {
    $('#language').change(function() {
      $('#nav_form').submit();
    });
	});
<% end %>

<div id="user_nav">
  	<%= link_to "Home", root_path %> | 
    <% if user_signed_in? %>
      <%= _("Signed in as") %> <%= current_user.email %>. <%= link_to _("Not you?"), destroy_user_session_path %> |
          <% if (current_user.type == "Charity") %>
            <%= link_to _("Charity Settings"), edit_user_registration_path %>
          <% elsif (current_user.type == "PersonalUser") %>
            <%= link_to _("User Settings"), edit_user_registration_path %>
          <% elsif (current_user.type == "Admin") %>
            <%= link_to _("Admin Tools"), admin_tools_path %>
          <% end %>
    <% else %>
      <%= link_to _("Sign up"), new_user_registration_path %> |
      <%= link_to _("Sign in via bivo"), new_user_session_path %> |
      <%= link_to _("Sign in via facebook"), "/auth/facebook", :confirm => _("If you are a charity, please use bivo registration and cancel the sign in. Otherwise, click ok.") %>
    <% end %>
    | <%= _('Language:') %>
  	<%= form_tag(change_language_path, :method => "get", :id => "nav_form", :class => "inline") do %>
    	<%= select_tag :language, options_for_select(languages.collect { |l| [l.name, l.id] }, language.id ) %>
  	<% end %>
</div>
