<% content_for(:js) do %>
  $(function() {
    $('#language').change(function() {
      $('#nav_form').submit();
    });
	});
<% end %>

<% if @home_index%>
	<div class="headerFull">
<%else%>
	<div id="user_nav" class="innheaderFull">
<%end%>
	  <div class="main">
		<%= link_to image_tag("logo.png", :size => "211x77", :alt => "Bivo", :title => "Bivo"), root_url %>
	    <div class="topDropDev">
	      <% if user_signed_in? %>
          		<%= _("Signed in as") %> <%= current_user.email %> - 
	          <% if (current_user.type == "Charity") %>
	            <%= link_to _("Settings"), edit_user_registration_path %>
	          <% elsif (current_user.type == "PersonalUser") %>
	            <%= link_to _("Settings"), edit_user_registration_path %>
	          <% elsif (current_user.type == "Admin") %>
	            <%= link_to _("Admin Tools"), admin_tools_path %>
	          <% end %>
	      <% end %>		
		    <%= form_tag(change_language_path, :method => "post", :id => "nav_form", :class => "inline") do %>
	      	<%= select_tag :language, options_for_select(languages.collect { |l| [l.name, l.id] }, language.id ), :onchange => submit_parent_form %>
		    <% end %>
		    <%= form_tag(change_currency_path, :method => "post", :id => "curr_form", :class => "inline") do %>
	      	<%= select_tag :currency, options_for_select(all_currencies.collect { |c| [c.name, c.id] }, current_currency.id), :onchange => submit_parent_form %>
		    <% end %>
	    </div><br class="spacer" />
	    <ul class="nav">
	  	  <li><%= link_to _("Home"), root_path, :class=> if @home_index then "selected"end%></li><li class="navPipe"><%= image_tag "navPipe.png", :size => "2x19"%></li>
		    <li><%= link_to _("Vote Causes"), causes_url %></li><li class="navPipe"><%= image_tag "navPipe.png", :size => "2x19"%></li>
		    <li><%= link_to _("Dashboard"), dashboard_url %><li class="navPipe"><%= image_tag "navPipe.png", :size => "2x19"%></li>
		    <li><%= link_to _("About Bivo"), about_url %><li class="navPipe"><%= image_tag "navPipe.png", :size => "2x19"%></li>
	      <% if user_signed_in? %>
	        <li><%= link_to _("Logout"), destroy_user_session_path %></li><br class="spacer" />
	      <% else %>
		      <li><%= link_to _("Login"), new_user_session_path %></li><br class="spacer" />
	      <% end %>
	    </ul>
	  <%if @home_index %>
        <%= content_for :home_content %>
	  <%end%>
	  </div>
	</div>
