<h2>
  <p id="page_inactive"><%=_('The')%> <%=@kind%> <%=@name%> <%=_('is inactive.')%></p>
  <p id="doubts_contact"><%=_('For any doubts, please contact')%> <a href="info@bivo.org" >info@bivo.org</a></p>
</h2>
