<%
	loader_width = (138 * cause.funds_raised/cause.funds_needed).to_i
%>
<div class="boxHu">
	<h3><%= cause.cause_category.name %></h3>
   <p class="boxHuTxt"><%= link_to_cause cause %></p>
   <div class="loadMain">
     <img src="images/loader-green.jpg" width="<%= loader_width %>" height="20" alt="" class="load" style="float: left;" />
     <img src="images/loader-gray.jpg" width="<%= 138 - loader_width %>" height="20" alt="" class="load" />
	 <p class="loadTxt"><%=cause_funds_percentage_completed cause %> of <%= number_to_currency cause.funds_needed, :precision => 0 %></p>
   </div>
</div>