<% content_for(:js) do %>
  $(function() {
		setCustomPeriodWithoutSubmitting();
    $('#period').change(setCustomPeriod);


    function setCustomPeriodWithoutSubmitting() {
      if ($('#period').attr('value') == "custom") {
          $('#custom_period').show();
      } else {
        $('#custom_period').hide();
      }
    }

    function setCustomPeriod() {
      if ($('#period').attr('value') == "custom") {
          $('#custom_period').show();
      } else {
        $('#custom_period').hide();
        $('#form').submit();
      }
    }
	});
<% end %>

<%= form_tag(request.path, :method => "get",:id => "form") do %>
  <%= select_tag :period, options_for_select(@periods, @period),:class=>"genChoo dashChoo" %>
  <div id="custom_period">
    <br />
    <br />
    <%= _('From:') %>
    <%= select_date @from, :prefix => :custom_from, :start_year => 2000, :end_year => 2020 %>
    &nbsp;&nbsp;&nbsp;
    <%= _('To:') %>
    <%= select_date @to, :prefix => :custom_to, :start_year => 2000, :end_year => 2020 %>
    <div class="buttonMainSearM">
      <div class="buttonSide accBtnSt"></div>
        <%= submit_tag _('Search'), :disable_with => _('Searching...'),:class => "buttonMid accBtnMi" %>
        <div class="buttonSide accBtnEn"></div><br class="spacer" />
     </div>
  </div>



<% end %>

