<% content_for(:js) do %>
  $(function() {
		setCustomPeriod();
    $('#period').change(setCustomPeriod);

    function setCustomPeriod() {
      if ($('#period').attr('value') == "custom") {
          $('#custom_period').show();
      } else {
        $('#custom_period').hide();
      }
    }
	});
<% end %>

<h1>Dashboard</h1>

<div id="filters">
  <%= form_tag(dashboard_path, :method => "get") do %>
    <%= _('Period') %>
    <%= select_tag :period, options_for_select(@periods, @period) %>

    <div id="custom_period">
      <br />
      <%= _('From') %>
      <%= select_date @from, :prefix => :custom_from, :start_year => 2000, :end_year => 2020 %>
      <br />
      <%= _('To') %>
      <%= select_date @to, :prefix => :custom_to, :start_year => 2000, :end_year => 2020 %>
    </div>
    <br />
    <%= submit_tag _('Search'), :disable_with => _('Searching...') %>
  <% end %>
</div>


<div id="funds_raised">
  <h2><%= _("Funds Raised") %></h2>
  <strong><%= @funds_raised %></strong>
</div>

<div id="transactions">
  <h2><%= _("Transactions") %></h2>
  <strong><%= @transactions %></strong>
</div>

<div id="fully_founded_causes">

</div>


<div id="fundraising_sources">
  <h2><%= _("Fundraising Sources") %></h2>
  <% @shops_to_cloud.each do |shop| %>
    <%= shop.name %>: <%= shop.incomes_in_period @from,@to%> <br />
  <% end %>
</div>

<div id="causes_being_funded">
	<h2><%= _("Causes being funded")%></h2>

  <%= _("No causes with votes in the current period") if @causes_being_funded.empty? %>

	<% @causes_being_funded.each do |cause| %>
	  <%= cause.cause_category.name %>: <%= cause.name %>
	  (<%= cause.funds_raised %> of <%= cause.funds_needed %>, <%= cause.funds_raised_in_period %> <%= _("in this period") %>)
	<% end %>
</div>

<div id="most_voted_causes">
  <h2><%= _("Most voted causes") %></h2>

  <%= _("No causes in the current period") if @most_voted_causes.empty? %>

  <% @most_voted_causes.each do |cause| %>
    <%= cause.cause_category.name %>: <%= cause.name %> <br />
  <% end %>
</div>

