
<h1><%= _("Bivo Home Page")%></h1>

<div class="box">
	<h2>1. <%= _("Shop") %></h2>
	<p><%= _("Enter below the product or service to buy (i.e. book) or the name of the seller (i.e. Amazon).") %></p>
	<p><%= _("Bivo will get a comission when you buy products from the seller using our website.") %></p>
	
	<%= form_tag(shop_search_path, :method => :get) do %>
	  <%= text_field_tag :search_word %>
	  <%= submit_tag _("Go") %>
	<% end -%>
</div>

<div class="box">
	<h2>2. <%= _("Vote")%></h2>
	<p><%= _("Vote causes proposed by charities from all over the world. Projects with most votes get funds faster.") %></p>
	
	<%= link_to _("Vote Causes"), causes_url %>
</div>

<div class="box">
	<h2>3. <%= _("done!")%></h2>
	<p><%= _("Bivo donates the comissions from all sales to the causes with most votes.") %></p>
	<p><%= _("Track how your contribution is distributed between charities using our fundraising dashboard.") %></p>
	
	<%= link_to _("Go to Dashboard"), dashboard_url %>
</div>

<strong><%= _("Raised amount") %></strong>
<%= @raised_amount %>
