<div class="inbodyM">
	<div class="bodyInner">
    	<div class="statGrT"><h2>Statistics</h2></div>
        <div class="boxMain">
			<%= render 'choose_period' %>
			<br class="spacer" />
            <div class="statIn">
            	<h3 class="statGrTop"><%= _("Overall performance") %></h3>
                <ul class="statInmain">
                	<li class="statInBox"><span class="statInBoxNo"><%= number_to_currency @revenues_total %></span><span class="statInBoxTxt"><%= _("revenue") %></span></li>
                    <li class="statInBox"><span class="statInBoxNo"><%= number_to_currency @expenses_total %></span><span class="statInBoxTxt"><%= _("expenses") %></span></li>
                    <li class="statInBox noMarg"><span class="statInBoxNo"><%= number_to_currency @cash_reserves %></span><span class="statInBoxTxt"><%= _("cash reserves") %></span></li><br class="spacer" />
                </ul>
                <div class="statInL">
                	<h3 class="statGrTop"><%= _("Expenses") %></h3>
                    <div class="statIn2main">
						<% for cat in @expense_categories %>
                        <ul class="inTab">
                        	<li class="inTabL"><%= cat.name %></li>
                            <li class="inTabR"><%= number_to_currency cat.amount %></li><br class="spacer" />
                        </ul>
						<% end %>
                        <ul class="inTab inTab2">
                        	<li class="inTabL"><%= _("Total Expenses")%></li>
                            <li class="inTabR"><%= number_to_currency @expenses_total %></li><br class="spacer" />
                        </ul>
                    </div>
                </div>
                <div class="statInR">
                	<h3 class="statGrTop"><%= _("Revenue") %></h3>
                    <div class="statIn2main">
					  <% for cat in @revenue_categories %>
                      <ul class="inTab">
						<li class="inTabL"><%= cat.name %></li>
                    	<li class="inTabR"><%= number_to_currency cat.revenue_amount %></li><br class="spacer" />
                      </ul>
					  <% end %>	
                        <ul class="inTab inTab2">
                        	<li class="inTabL"><%= _("Total Revenue")%></li>
                            <li class="inTabR"><%= number_to_currency @revenues_total %></li><br class="spacer" />
                        </ul>
                    </div>
                </div><br class="spacer" />
                <h3 class="statGrTop"><%= _("Expenses details") %></h3>
                <div class="statInmainBord" id="masterdiv">
                  <table class="zebra_table">
                    <tr>
                      <th style="width:100px;"><%= _("Type") %></th>
                      <th style="width:450px;"><%= _("Description") %></th>
                      <th style="width:200px;"><%= _("Paid to") %></th>
                      <th class="noBord" style="width:150px;"><%= _("Amount") %></th>
                    </tr>
                    <% @expenses.each_with_index do |expense, index| %>
                      <tr>
                        <td><%= expense.expense_category.name rescue nil %></td>
                        <td><%= expense.description %></td>
                        <td><%= expense.paid_to %></td>
                        <td class="noBord"><%= number_to_currency expense.amount %></td>
                      </tr>
                    <% end %>
                  </table>                    
                </div>
			</div>

            <h3 class="statGrTop"><%= _("Revenue details") %></h3>
            <div class="statInmainBord" id="masterdiv">
              <table class="zebra_table">
                <tr>
                  <th style="width:100px;"><%=_('Type')%></th>
                  <th style="width:650px;"><%=_('Channel')%></th>
                  <th class="noBord" style="width:150px;"><%=_('Amount')%></th>
                </tr>
                <% @revenues.each_with_index do |revenue, index| %>
                  <tr>
                    <td><%= revenue.income_category.name rescue nil %></td>
                    <td><%= revenue.detail %></td>
                    <td class="noBord"><%= number_to_currency revenue.revenue_amount %></td>
                  </tr>
                <% end %>
              </table>
            </div>
            <p class="statBotTxt">If you can help us optimize our expenses please <%=link_to _("contact us"), static_page(:contact_us) %> or post your proposal to the <%= link_to _("community forum"), feedback_url %></a>.</p> 
		</div>
	</div>
</div>
