<h1>Statistics</h1>

<div id="filters">
  <%= render 'choose_period' %>
</div>

<br/>

<%= _("Total Expenses")%>: <%= @expenses_total %><br/>
<%= _("Total Revenue")%>: <%= @revenues_total %><br/>


<div>
  <h2><%= _("Expenses")%></h2>

  <table border="1">
  <% for cat in @expense_categories %>
    <tr>
	  <td><%= cat.name %></td>
	  <td><%= cat.amount %></td>
	</tr>
  <% end %>
	<tr>
	  <td><%= _("Total Expenses")%></td>
	  <td><%= @expenses_total %>
	</tr>
  </table>

</div>

<div>
  <h2><%= _("Revenues")%></h2>

  <table border="1">
  <% for cat in @revenue_categories %>
    <tr>
	  <td><%= cat.name %></td>
	  <td><%= cat.revenue_amount %></td>
	</tr>
  <% end %>
	<tr>
	  <td><%= _("Total Revenue")%></td>
	  <td><%= @revenues_total %>
	</tr>
  </table>

</div>

<div>
  <h2><%= _("Expenses Details")%></h2>

  <table border="1"> 
	<tr>
		<th>Type</th>
		<th>Description</th>
		<th>Paid to</th>
		<th>Amount</th>
	</tr>
	<% for expense in @expenses %>
	  <tr>
		<td><%= expense.expense_category.name rescue nil %></td>
		<td><%= expense.description %></td>
		<td><%= expense.paid_to %></td>
		<td><%= expense.amount %></td>
	  </tr>
	<% end %>
  </table>
</div>

<div>
  <h2><%= _("Revenue Details")%></h2>

  <table border="1"> 
	<tr>
		<th>Source</th>
		<th>Channel</th>
		<th>Amount</th>
	</tr>
	<% for revenue in @revenues %>
	  <tr>
		<td><%= revenue.income_category.name rescue nil %></td>
		<td><%= revenue.detail %></td>
		<td><%= revenue.revenue_amount %></td>
	  </tr>
	<% end %>
  </table>
</div>