<% content_for(:js) do %>

  function showNewsForm(button){
    $('#news_form').show();
    $(button).closest('div').hide();
    $('#cancel_news_add_button').show();

  }

  function cancelNewsAdd(button){
    $('#add_news_button').closest('div').show();
    $('#news_form').hide();
    $('#news_body').val("");
    $(button).hide();
  }

<% end %>
<div class="cvNews"><h2><%=_("News")%></h2></div>
<div class="cvNewsBox">
  <div class="cvNewsBoxIn cvNewsBox2 flexcroll">
    <div class="buttonNews"><%=add_news_button newsable%></div>
    <div class="tableNews">
      <%= form_for [newsable, News.new],:html=>{:class => 'nodisplay', :id => 'news_form'},:remote=>true do |f| %>
        <p><%= f.text_area :body, :class => 'accNewsFil accMess' %></p>
        <div class="actions">
          <div><%=submit_news_button%></div>
          <div style="margin-left:20px;"><%=cancel_news_add_button%></div>
        </div>
        <br />
        <br />
      <% end %>
    </div>


	  <div id="news">
    <% for news in all_news %>
      <%=render :partial=>'news/news_row',:locals => {:news => news, :newsable => newsable}%>
    <% end %>
    </div>
  </div>
</div>

