<%= styled_will_paginate @charities %>

<div id="charities-list">
<% for charity in @charities %>
  <div class="chariIn">
    <div class="chariLpic"><a href="#"><%=image_tag big_avatar(charity) %></a></div> <!-- TODO: deshardcodear foto-->
    <div class="chariMid">
      <h3><%= link_to charity.name, charity_path(charity.id) %></h3>
      <div class="chariLoca">
      	<p><%=_("Location")%>:</p><strong><%=charity.city%>, <%= charity.country_name rescue nil %></strong><br class="spacer" />
      	<p><%=_("Area")%>:</p><strong><%= charity.charity_category.name rescue nil %></strong><br class="spacer" />
      </div>
	    <p class="chariTxt"><%= read_more(raw(charity.description), charity_path(charity.id), 20) %></p>
      <ul class="star">
      	<li><a href="#"><img src="images/star.png" width="15" height="15" alt="" /></a></li>
        <li><a href="#"><img src="images/star.png" width="15" height="15" alt="" /></a></li>
        <li><a href="#"><img src="images/star.png" width="15" height="15" alt="" /></a></li>
        <li><a href="#"><img src="images/star.png" width="15" height="15" alt="" /></a></li>
        <li><a href="#"><img src="images/starHo.png" width="15" height="15" alt="" /></a></li>
      </ul> <!-- TODO: deshardcodear estrellas-->
    </div>
    <div class="chariRi">
    	<div class="chariRiBox">
        <a href="<%=charity_path(charity.id)%>">
          <span class="statInBoxNo chariRiBoxNo"><%=number_to_currency(charity.total_funds_raised || 0,:precision => 0)%></span>
          <span class="statInBoxTxt chariRiBoxTxt"><%=_(' raised')%></span>
        </a>
      </div>
      <div class="chariRiBox">
        <a href="<%=charity_path(charity.id)%>">
          <span class="statInBoxNo chariRiBoxNo"><%=charity.causes_count.to_s%></span>
          <span class="statInBoxTxt chariRiBoxTxt"><%=charity.causes_count == 1 ? _(' cause') : _(' causes')%></span>
        </a>
      </div>
    </div>
  </div>
<% end %>
</div>

<script type="text/javascript">
  $(".chariIn").last().addClass("noBg");
</script>


