
<h1><%= @charity.charity_name%></h1>

<%= gallery @charity %>

<p> <b><%=_('id')%></b>: <%= @charity.id%> </p>
<p> <b><%=_('email')%></b>: <%= @charity.email%> </p>
<p> <b><%=_('type')%></b>: <%= @charity.type%> </p>
<p> <b><%=_('charity_name')%></b>: <%= @charity.charity_name%> </p>
<p> <b><%=_('charity_website')%></b>: <%= @charity.charity_website%> </p>
<p> <b><%=_('charity_category_id')%></b>: <%= @charity.charity_category_id%> </p>
<p> <b><%=_('charity_type')%></b>: <%= @charity.charity_type%> </p>
<p> <b><%=_('rating')%></b>: <%= @charity.rating%> </p>
<p> <b><%=_('rating_url')%></b>: <%= @charity.rating_url%> </p>
<p> <b><%=_('country')%></b>: <%= Country.find(@charity.country_id).name%> </p>
<p> <b><%=_('city')%></b>: <%= @charity.city%> </p>
<p> <b><%=_('description')%></b>: <%=raw @charity.description%> </p>



<div id="follow_charity_button">
  <%= follow_charity_button @charity %>
</div>

<br/>
<div id="delete_charity_button">
  <%= delete_charity_button @charity %>
</div>

<br/>
<div id="add_cause_button">
  <%= add_cause_button(@charity) %>
</div>

<br/>
<div id="activate_deactivate_charity_btn_<%=@charity.id%>">
  <%= active_deactive_charity_button @charity %>
</div>


<div id="cause_list">
  <table BORDER="1">
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Progress</th>
  </tr>

  <% @charity.causes.each do |cause|%>
  <tr>
    <td><%=cause_link cause%></td>
    <td><%=cause.status%></td>
    <td><%=progress_box cause%></td>
  </tr>
  <%end%>

  </table>

</div>


<br/>
<div id="facebook_like">
  <%=facebook_like%>
</div>

<div id="comments_pending_approval_link">
  <%= comments_pending_approval_link @charity %>
</div>

<div id="comments">
  <%= comments @charity %>
</div>

<%= render :partial => 'news/news', :locals => { :newsable => @charity, :all_news => @charity.news.order('id Desc') } %>

