<% content_for(:head) do %>
	<%= javascript_include_tag "pagination" %>
<% end %>

<% content_for(:js) do %>
	$(function() {
		$('#filters select').add('#filters input').change(function() {
			$('#filter_form').submit();
		});
	});
<% end %>

<% title "Charities" %>

<div class="inbodyM">
  <div class="bodyInner">
    <%= form_tag charities_path, :method => :get, :id => "filter_form" do %>
      <div class="statGrT">
        <h2>Charity List</h2>
        <div id="filters" class="grNav">
            <ul>
					    <% @categories.each do |category| %>
						    <li><%= link_to "#{category.name} (#{category.charities_count})", category_filter_url(category)%></li>
                <li class="grPipe">|</li>
					    <% end%>
            </ul>
        </div>
      </div>
      <div class="boxMain">
     	  <div class="gnFilMain">
			    <p class="genFilTxt"><%= _('Sort by') %></p>
          <%= select_tag :sorting, options_for_select(@sortings, @sorting), {:class => 'genChoo'} %>
				  <p class="genFilTxt chariMidTxt"><%= _('Show region') %></p>
				  <%= select_tag :region, options_from_collection_for_select(@regions, 'id', 'name', @region), {:include_blank => _('All countries'), :class => 'genChoo'}%>
				  <p class="genFilTxt"><%= _('Filter by') %></p>
				  <%= text_field_tag :name, @name, :id => 'name_filter', :class => "genChoo" %> <%= link_to_function(_('clear'), "$('#name_filter').val('').change();") if @name %>
          <!-- PUT PAGE SELECTOR HERE-->
        </div><!-- /gnFilMain -->
        <div id="charities">
          <%= render 'charities' %>
        </div>
        <div class="rgtFilmarg">
          <%= select_tag :per_page, options_from_collection_for_select(@page_sizes, 'to_i', 'to_s', @per_page), :class => 'showChoo'%>
          <p class="showTxt"><%= _("Show per page")%></p><br class="spacer" />
        </div>            
      </div><!-- /boxMain -->
	  <% end %><!-- /form -->
  </div><!-- /bodyInner -->
  <div class="bodyBot"></div>
</div><!-- /inbodyM -->

