
<table>
  <tbody>
  <%GalleryItem.where('gallery_id = ?',Gallery.find_by_entity_id(Cause.first.id)).order('relative_order').each do |item|%>
      <tr id = "item_<%=item.relative_order%>">
        <td> (<%=item.relative_order%>)<%=item.type%>(id:<%=item.id%>)</td>
        <td><%=move_up_button item.id%></td>
        <td><%=move_down_button item.id%></td>
      </tr>
  <% end %>
   </tbody>
</table>

