 <%= form_for :photo_item, :url => 'add_photo',:method => :post, :html => { :multipart => true } do |f|%>
    <%= f.file_field :image %></p>
    <%= f.hidden_field :gallery_id,:value => @gallery_id %>
    <%= cancel_add_button%>
   	<%= submit_tag _('Submit Photo'), :disable_with => _('Submitting...') %>
  <% end %>

 <%= form_tag({:controller => 'galleries', :action => "add_video"},:method => "post") do%>
    <%= text_field :video_url, ""%>
    <%= hidden_field_tag :gallery_id, @gallery_id %>
    <%= cancel_add_button%>
   	<%= submit_tag _('Submit Video'), :disable_with => _('Submitting...') %>
  <% end %>

<table>
  <tbody>
   <%@gallery_items.each do |item|%>
      <tr id = "item_<%=item.relative_order%>">
        <td> (<%=item.relative_order%>)<%=item.type%>(id:<%=item.id%>)</td>
        <td><%=move_up_button item.id%></td>
        <td><%=move_down_button item.id%></td>
        <td><%=delete_item_button item.id%></td>
      </tr>
  <% end %>
   </tbody>
</table>

