<% content_for(:head) do %>
  <%= javascript_include_tag "flexcroll" %>
<% end %>

<%
t = link_to_charity @entity if @entity.class == Charity
t = link_to_cause @entity if @entity.class == Cause
%>
<%= single_block t + ' ' + _('Gallery') do %>

<div>
	<%= render :partial => 'galleries/view', :locals => { :gallery => @gallery, :edit => true }%>
	<br class="spacer"/>
</div>

<div class="cvNews" style="width: 100%;"><h2><%= _('Add Photo')%></h2></div>
<div class="cvNewsBox" style="width: 99.8%;"><div style="padding: 20px;">
<%= bivo_form_for :photo_item, :url => 'add_photo', :method => :post, :html => { :multipart => true } do |f|%>
	<%= f.label :image %>
    <%= f.file_field :image %></p>
    <%= f.hidden_field :gallery_id, :value => @gallery.id %>
	<div class="buttons">
		<%= f.submit _('Submit Photo'), :disable_with => _('Submitting...') %>
		<br class="spacer" />
	</div>
<% end %>
</div></div>
<br/>

<div class="cvNews" style="width: 100%;"><h2><%= _('Add Video')%></h2></div>
<div class="cvNewsBox" style="width: 99.8%;"><div style="padding: 20px;">
<%= bivo_form_for :video_item, :url => "add_video", :method => :post do |f| %>
	<%= f.label :video_url %>
    <%= f.text_field :video_url%>
	<p class="accfilTxt" style="display: inline; float: none;">
		<%= raw(_('Paste any %s or %s video url') % [link_to('Youtube', 'http://www.youtube.com', :target => :_blank),link_to('Vimeo', 'http://www.vimeo.com', :target => :_blank)])%>
	</p>
    <%= f.hidden_field :gallery_id, :value => @gallery.id %>

	<div class="buttons">
		<%= f.submit _('Submit Video'), :disable_with => _('Submitting...') %>
		<br class="spacer" />
	</div>
<% end %>
</div></div>
<br/>
<%=back_button(_("Go Back"))%>
<% end %>

