
<table>
  <tbody>
  <%=@id%>
  <%@gallery_items.each do |item|%>
      <tr id = "item_<%=item.relative_order%>">
        <td> (<%=item.relative_order%>)<%=item.type%>(id:<%=item.id%>)</td>
        <td><%=move_up_button item.id%></td>
        <td><%=move_down_button item.id%></td>
      </tr>
  <% end %>
   </tbody>
</table>

