<%= pop_up_single_block _("Shop Categories") do %>
  <div class="shop_categories default_font">
    <% if @category %>
      <%= bivo_form_for @category, :as => :category, :url => { :action => :update, :id => @category.try(:id) } do |f| -%>
        <ul class="shop_categories_path">
          <li>
            <%= link_to _('Categories'), :action => :edit -%>
          </li>
          <% @path.each do |c| %>
            <li>
                &nbsp;&#92;&nbsp; <%= link_to c.name, :action => :edit, :id => c.id if c != @category -%>
            </li>
          <% end %>
          <li>
            <%= f.text_field :name, :style => "width:110px;", :class => "genFil" %>
          </li>
        </ul>
		<div style="float:left;width:10px;">&nbsp;</div>
        <%= orange_button_to _("Rename"), :disable_with => 'Submiting...' %>
        <%= orange_link_to _("Delete"), :action => :destroy, :id => @category.id, :method => :delete, :confirm => _("Are you sure?") %>
        <%= render "shared/error_messages", :target => @category %>
      <% end -%>
      <br /><br />
    <% else %>
      <ul class="shop_categories_path">
        <li>
          <%= link_to _('Categories'), :action => :edit -%>
        </li>
        <% @path.each do |c| %>
          <li>
            \ <%= link_to c.name, :action => :edit, :id => c.id if c != @category -%>
          </li>
        <% end %>
      </ul>
      <br />
    <% end %>
    <div>    
      <% if @category %>
        <%=('Subcategories')%>
      <% end %>
    </div>
    <ul class="shop_categories_subcategories">
      <% @child_categories.each do |c| %>
        <li>
          <%= link_to c.name, :action => :edit, :id => c.id -%>
        </li>
      <% end %>
      <li style="list-style-type:none">
        <%= bivo_form_for @newcategory, :as => :newcategory, :url => { :action => :create } do |f| -%>
          <%= f.hidden_field :parent_id %>
          <%= f.plain_text_field :name, :class => 'accfil', :style => 'width: 200px;margin-right:10px;' %>	
          <%= orange_button_to "Create category", :disable_with => 'Submiting...' %>
		  <br class="spacer"/>
          <%= render "shared/error_messages", :target => @newcategory %>
        <% end -%>
      </li>
    </ul>
  </div>
<% end %>
