    <%= f.label :category %>
    <%= f.select :expense_category_id, expense_categories.collect{ |c| [c.name, c.id] }, :include_blank => true %>

	<p class="accfilTxt" style="width: 100%; padding-left: 175px;">
		<%= link_to _("Manage Categories"), expense_categories_path, :class => "iframe" %>
	</p>
    
    <%= f.label :paid_to %>
    <%= f.text_field :paid_to %>
