<%= will_paginate @transactions %>

<div id="transactions-list">
  <table border="1" frame="border">
  <thead>
    <tr>
       <th><%= _("Type") %></th>
       <th><%= _("Date") %></th>
	     <th><%= _("Description") %></th>
       <th><%= _("Category") %></th>
       <th><%= _("Detail") %></th>
       <th>&nbsp;</th>
    </tr>
  </thead>
  <% for transaction in @transactions %>
    <tr>
       <td><%= transaction.type %></td>
       <td><%= transaction.transaction_date %></td>
	     <td><%= transaction.description %></td>
       <% if transaction.type == "Income"  %>
          <td><%= transaction.income_category.name rescue nil %></td>
       <% else %>
          <td><%= transaction.expense_category.name rescue nil %></td>
       <% end  %>
       <td><%= transaction.detail %></td>
       <td><%= link_to _("Edit"),transaction_edit_path(transaction.id)%></td>
    </tr>
  <% end %>
  </table>
</div>

