<table class="zebra_table">
  <tr>
    <th style="width:80px;"><%=_("Type")%></th>
    <th style="width:90px;"><%=_("Date")%></th>
    <th style="width:455px;"><%=_("Description")%></th>
    <th style="width:100px;"><%=_("Category")%></th>
    <th style="width:90px;"><%=_("Detail")%></th>
    <th class="noBord" style="width:80px;">&nbsp;</th>
  </tr>
  <% for transaction in @transactions %>
    <tr>
      <td><%= transaction.type %></td>
      <td><%= transaction.transaction_date %></td>
      <td><%= transaction.description %></td>
      <td><%=transactions_category_name(transaction) %></td>
      <td><%= transaction.detail %></td>
      <td class="noBord"><%= orange_link_to _("Edit"),transaction_edit_path(transaction.id)%></td>
    </tr>
  <% end %>
</table>
