
<% content_for :js do %>
$(document).ready(function(){
  $('#cancel').click(function () {
    location.href = "<%= transaction_list_path %>";
    return false;
  })
});

<% end %>

<%= single_block (_("Transactions | ") + (edit_transaction_title_for @transaction.type)) do %>

  <%= bivo_form_for(@transaction, :as => :transaction, :url => transaction_update_path, :id => @transaction.id) do |f| %>
    <%= render "shared/error_messages", :target => @transaction %>

    <%= f.label :amount %>
    <%= f.select :input_currency, @currencies, :selected => @currency %>
    <%= f.label ' ' %>
    <%= f.text_field :amount %>

    <%= f.label :description %>
    <%= f.text_area :description %>

	<div class="buttons">	
    	<%= f.submit :Save %> <%= f.submit :Cancel, :id => "cancel" %>
	</div>
  <% end %>

<% end %>

