<% content_for(:head) do %>
	<%= javascript_include_tag "pagination" %>
<% end %>

<% content_for(:js) do %>

  $(function() {
		showOrHiddenCustomPeriod();
    $('#period').change(showOrHiddenCustomPeriod);
	});

  function showOrHiddenCustomPeriod(){
    if ($('#period').attr('value') == "custom")
      {
        $('#custom').show();
      }
      else{
        $('#custom').hide();
      }
    }
<% end %>



<% title "Transactions" %>

<%=raw @info%>

<%=_("Transaction count")%> <%=@count%>
<div id="filters">
	<%= form_tag transactions_path, :method => :get, :id => "filter_form" do %>
		<%= _("Show per page")%>
    <%= select_tag :per_page, options_from_collection_for_select(@page_sizes, 'to_i', 'to_s', @per_page)%>
  	<%= _('Show') %>
		<%= select_tag :kind, options_for_select(@kinds, @kind) %>
    <%= _('Period') %>
		<%= select_tag :period, options_for_select(@periods, @period) %>
  	<%= _('Filter by') %>
    <%= text_field_tag :description, @description, :id => 'description_filter' %> <%= link_to_function(_('clear'), "$('#description_filter').val('').change();") if @name %>


    <div id="custom">
      <br/>
      <%= _('From') %>
      <%= select_date @from, :prefix => :custom_from, :start_year => 2000, :end_year => 2020%>
      <br/>
      <%= _('To') %>
      <%= select_date @to, :prefix => :custom_to,:start_year => 2000, :end_year => 2020 %>
      <br/>
    </div>


   	<p><%= submit_tag _('Search'), :disable_with => _('Searching...') %></p>
	<% end %>
</div>


<h2>transactions</h2>
<%= link_to _("Add"),add_income_and_expense_path%></td>
<div id="transactions">
  <%= render 'transactions' %>
</div>

