<% content_for :js do %>

$(document).ready(function(){
  $("a.iframe").fancybox({
    'onClosed': function() {

		  // save current selection
		  var current_selection = $('#transaction_expense_category_id').val();

		  $('#transaction_expense_category_id')
		  .load('<%=url_for :controller => 'expense_categories', :action => 'list_options'%>', function(){
        if (current_selection) {
          $("#transaction_expense_category_id option[value='" + current_selection + "']").attr('selected', 'selected');
        }
		  });
    }
  });

  $('#transaction_income_category_id').change(function() {
    var selectedCategory = $('#transaction_income_category_id :selected').text();
    if (selectedCategory == "shop") {
      $("#shop").css("display", "inline");
    } else {
      $("#shop").css("display", "none");
    }
  });

  $('#transaction_type').change(function() {
    var selectedCategory = $('#transaction_type :selected').text();
    if (selectedCategory == "Income") {
      $("#income_fields").css("display", "inline");
      $("#expense_fields").css("display", "none");
    } else if (selectedCategory == "Expense") {
      $("#income_fields").css("display", "none");
      $("#expense_fields").css("display", "inline");
    } else {
      $("#income_fields").css("display", "none");
      $("#expense_fields").css("display", "none");
    }
  });

  $('#cancel').click(function () {
    location.href = "<%= root_path %>";
    return false;
  })
});

<% end %>

<%= single_block _("Transactions | Add Income/Expense") do %>

<%= bivo_form_for(@transaction, :as => :transaction, :url => {:controller => "transactions", :action => "create"}) do |f| %>
  <%= render "shared/error_messages", :target => @transaction %>

  <%= f.label :type %>
  <%= f.select :type, [["Income","Income"], ["Expense","Expense"]], :include_blank => true %>

  <%= f.label :date %>
  <%= f.date_select :transaction_date %>
  <br class="spacer"/>

  <div id="income_fields" style="<%= get_display_of :Income, @transaction %>">
    <%= render :partial => "income_fields",
          :locals => {:f => f, :income_categories => @income_categories, :shops => @shops, :transaction => @transaction} %>
  </div>

  <div id="expense_fields" style="<%= get_display_of :Expense, @transaction %>">
    <%= render :partial => "expense_fields",
          :locals => {:f => f, :expense_categories => @expense_categories} %>
  </div>

  <%= f.label :amount %>
  <%= f.select :input_currency, @currencies, :selected => @currency %>
  <%= f.label ' ' %>
  <%= f.text_field :input_amount %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <div class="buttons">
  	<%= f.submit :Save %> <%= f.submit :Cancel, :id => "cancel" %>
  </div>
<% end %>

<% end %>
