<!DOCTYPE html>
<html>
<head>

  <title><%= yield(:title).presence || "Bivo" %></title>
  <%= stylesheet_link_tag :all, :cache => false %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'jquery.jgrowl_minimized' %>
  <%= javascript_include_tag 'jquery.fancybox' %>
  <%= javascript_include_tag 'jquery-ui.min' %>
  <%= javascript_include_tag 'jquery.wysiwyg' %>
  <%= javascript_include_tag 'jquery.treeview' %>
  <%= javascript_include_tag 'jquery.updnWatermark' %>

  <%= csrf_meta_tag %>

  <%= yield(:head) %>

  <script type="text/javascript" language="JavaScript">
  	<%= on_document_ready { render(:partial => 'shared/notifications.js') } %>
	  <%= yield(:js) %>
    <%= set_zebra_style_to_table :zebra_table, :even_field, :odd_field %>

	$(function() {
	  $('#wysiwyg').wysiwyg();
	  if ($('#wysiwyg').val() == '') {
	    $('#wysiwyg').wysiwyg('clear');
  	  }
	});
  </script>

</head>
<body>


<%= render :partial => "shared/user_nav", :locals => { :language => @language, :languages => @languages, :all_currencies => @all_currencies, :current_currency => @current_currency } %>

<%= yield %>

<%= render 'shared/footer', :locals => { :languages => @languages } %>

</body>
</html>

