  <p><%= f.label :first_name, _("First Name") %><br />
  <%= f.text_field :first_name %></p>

  <p><%= f.label :last_name, _("Last Name") %><br />
  <%= f.text_field :last_name %></p>

  <p><%= f.label :nickname, _("Nickname (optional)") %><br />
  <%= f.text_field :nickname %></p>

  <p><%= f.label :birthday, _("Birthday") %><br />
  <%= f.date_select :birthday, :discard_year => true, :default => { :year => 1950 } %></p>

  <p><%= f.label :gender, _("Sex (optional)") %><br />
  <%= f.select :gender, [[_("Male"),"M"], [_("Female"),"F"]], :include_blank => true %></p>

