  <%= f.label :charity_name, _("Charity Name") %>
  <%= f.text_field :charity_name %>

  <%= f.label :charity_website, _("Charity Website") %>
  <%= f.text_field :charity_website %>

  <%= f.label :short_url, _("Short Url")%>
  <p style ="display:inline;" >
    <span>http://www.bivo.org/ng/</span>
    <%= f.inline_text_field :short_url, :id => 'short_url', :onfocus => "javascript:$('#available').html('');", :style => "width: 198px; float:none; padding-left:7px;"%> 
	<%= inline_orange_link_to _('Check Url'), "#", { :onclick => "javascript:checkUrl(); return false;"} %>
  </p>
  <br class="accfilTxt" />
  <p style="font: normal normal normal 13px/24px Arial, Helvetica, sans-serif; margin-left: 175px"><span id="available"></span></p>
  <br/>

  <%= f.label :charity_category_id, _("Category") %>
  <%= f.select :charity_category_id, @categories.collect{ |c| [c.name, c.id] }, {:include_blank => true} %>

  <%= f.label :charity_type, _("Charity Type") %>
  <%= f.text_field :charity_type %>

  <%= f.label :tax_reg_number, _("Tax Registration No.") %>
  <%= f.text_field :tax_reg_number %>

  <%= f.label :country_id, _("Country") %>
  <%= f.select :country_id, @countries.collect{ |c| [c.name, c.id] }, {:include_blank => true} %>

  <%= f.label :city, _("City") %>
  <%= f.text_field :city %>

  <%= f.label :description,  _("Description"), :for => "wysiwyg" %>
  <%= f.text_area :description , :id => "wysiwyg", :rows=>"5", :cols=>"47" %>

  <% content_for :js do %> <!-- javascript code to run, for this view only -->
    <%= render :partial => 'shared/check_url', :locals => {
      :is_new => true, :url_was => nil, :url_check => '/charity/check_url'
    } %>
  <%end%>

