  <p class="accfilTxt"><%= f.label :charity_name, _("Charity Name") %></p>
  <%= f.text_field :charity_name, :class =>"accfil" %>
  <br class="spacer" />

  <p class="accfilTxt"><%= f.label :charity_website, _("Charity Website") %></p>
  <%= f.text_field :charity_website, :class =>"accfil"%>
  <br class="spacer" />

  <p class="accfilTxt"><%= f.label :short_url, _("Short Url")%></p><p style ="width:auto; border:none;" >http://www.bivo.org/ng/</p>
  <%= f.text_field :short_url, :onfocus => "javascript:$('#available').html('');", :class =>"accfil", :style => "width: 200px;"%>
  <br class="spacer" />
  <%= tag 'input', {:type => 'button', :value => _('Check Url'), :onclick => "javascript:checkUrl();"} %>
  <span id="available"></span>
  <br/>

  <p class="accfilTxt"><%= f.label :charity_category_id, _("Category") %></p>
  <%= f.select :charity_category_id, @categories.collect{ |c| [c.name, c.id] }, :include_blank => true, :class =>"accfil accChoo" %>
  <br class="spacer" />

  <p class="accfilTxt"><%= f.label :charity_type, _("Charity Type") %></p>
  <%= f.text_field :charity_type, :class =>"accfil" %>
  <br class="spacer" />

  <p class="accfilTxt"><%= f.label :tax_reg_number, _("Tax Registration Number") %></p>
  <%= f.text_field :tax_reg_number, :class =>"accfil" %>
  <br class="spacer" />

  <p class="accfilTxt"><%= f.label :country_id, _("Country") %></p>
  <%= f.select :country_id, @countries.collect{ |c| [c.name, c.id] }, :include_blank => true, :class =>"accfil accChoo" %>
  <br class="spacer" />

  <p class="accfilTxt"><%= f.label :city, _("City") %></p>
  <%= f.text_field :city, :class =>"accfil" %>
  <br class="spacer" />

  <p class="accfilTxt"><%= f.label :description,  _("Description"), :for => "wysiwyg" %></p>
  <%= f.text_area :description , :id => "wysiwyg", :rows=>"5", :cols=>"47", :class =>"accfil accMess"%>
  <br class="spacer" />

  <% content_for :js do %> <!-- javascript code to run, for this view only -->
    <%= render :partial => 'shared/check_url', :locals => {
      :is_new => true, :url_was => nil, :url_check => '/charity/check_url'
    } %>
  <%end%>

