  <p class="accfilTxt"><%= f.label :first_name, _("First Name") %></p>
  <%= f.text_field :first_name, :class =>"accfil" %>
  <br class="spacer" />

  <p class="accfilTxt"><%= f.label :last_name, _("Last Name") %></p>
  <%= f.text_field :last_name, :class =>"accfil" %>
  <br class="spacer" />

  <p class="accfilTxt"><%= f.label :nickname, _("Nickname (optional)") %></p>
  <%= f.text_field :nickname, :class =>"accfil" %>
  <br class="spacer" />

  <p class="accfilTxt"><%= f.label :birthday, _("Birthday") %></p>
  <%= f.date_select :birthday, {:prompt => {:day => _('Choose day'), :month => _('Choose month')}, :discard_year => true}, :class =>"accfil accChoo", :style => "width: 181px !important;" %>
  <br class="spacer" />

  <p class="accfilTxt"><%= f.label :gender, _("Sex (optional)") %></p>
  <%= f.select :gender, [[_("Male"),"M"], [_("Female"),"F"]], {:include_blank => true}, :class => "accfil accChoo" %>
  <br class="spacer" />

