<% content_for(:js) do %>
  $(function() {
    $('#wysiwyg').wysiwyg();
  });
<% end %>

<%  single_block (title_for @type) do |s| %>
  <%= bivo_form_for(@resource, :as => :user, :url => @path, :html => { :method => :put, :multipart => (@type == :Personal) }) do |f| %>
    <%= render "shared/error_messages", :target => @resource %>

    <%= hidden_field_tag :id, @id %>
    <%= hidden_field_tag :referer, @referer %>

    <%= f.label :email, _("E-Mail") %>
    <%= f.text_field :email %>

    <%= f.hidden_field :reset_password_token %>

    <%= f.label :password,_("Password") %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation, ("Password Confirmation")  %>
    <%= f.password_field :password_confirmation %>

    <% if (@type == :Charity) %>
      <%= f.label :charity_name, _("Charity Name") %>
      <%= f.text_field :charity_name %>

      <%= f.label :charity_website, _("Charity Website") %>
      <%= f.text_field :charity_website %>

      <% if current_user.is_admin_user %>
        <%= f.label :rating, "Rating" %>
        <%= f.select :rating, @ratings, { :include_blank => true } %>
      <% end %>

      <%= f.label :country, _("Country") %>
      <%= f.select :country_id, @countries.collect{ |c| [c.name, c.id] }, :include_blank => true %>

      <%= f.label :city, _("City") %>
      <%= f.text_field :city %>

      <%= f.label :description, _("Description") %>
      <%= f.text_area :description %>

		  <%= f.label _("Home page") %>
		  <%= link_to(url_for(url_charity(@resource).merge({ :only_path => false })), url_charity(@resource)) %>
      <br class="spacer"/>

    <% elsif (@type == :PersonalUser) %>
      <%= render :partial => 'users/registrations/new_personal', :locals => {:f => f} %>

      <p><%= f.label :about_me, _("About me") %>
      <%= f.text_area :about_me %></p>

	    <p><%= f.label _("Profile picture") %>
      <%=_("Current:")%> <%= image_tag @resource.picture.url %>
	    <%= f.check_box :delete_picture %> <%= f.label _("Delete profile picture") %>
	    <%= f.file_field :picture %></p>
    <% end %>
    
    <%= f.row_label _("Email me updates of projects or charities I follow when: ")%>

    <%= f.check_box :notice_all_funds_raised %>
    <%= f.rhs_label :notice_all_funds_raised, _("All funds are raised") %>

    <%= f.check_box :notice_status_change %>
    <%= f.rhs_label :notice_status_change, _("The status changes") %>

    <%= f.check_box :notice_status_update_published %>
    <%= f.rhs_label :notice_status_update_published, _("New status updates are published") %>

    <%= f.check_box :notice_comment_added %>
    <%= f.rhs_label :notice_comment_added, _("Comments are added") %>

    <%= f.row_label _("Other: ")%>

    <% if (@type == :Charity) %>
      <%= f.check_box :auto_approve_comments %>
      <%= f.rhs_label :auto_approve_comments, _("Auto-approve comments of my charity or projects") %>
    <% end%>

    <%= f.check_box :send_me_news %>
    <%= f.rhs_label :send_me_news, _("Send me bivo.org news") %>

	<div class="buttons">
    	<%= f.submit _("Update") %>
	</div>
	
  <% end %>
  <div class="bodyBot"></div>
<% end %>

