<h2><%= title_for @type %></h2>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :email, _("E-Mail") %><br />
  <%= f.text_field :email %></p>

  <% if (@type == :charity) %>
    <p><%= f.label :charity_name, _("Charity Name") %><br />
    <%= f.text_field :charity_name %></p>

    <p><%= f.label :charity_website, _("Charity Website") %><br />
    <%= f.text_field :charity_website %></p>

    <p><%= f.label :country, _("Country") %>
    <%= f.select :country_id, @countries.collect{ |c| [c.name, c.id] }, :include_blank => true %></p>

    <p><%= f.label _("City") %><br />
    <%= f.text_field :city %></p>

    <p><%= f.label _("Description") %><br />
    <%= f.text_area :description %></p>

  <% elsif (@type == :personal) %>
    <%= render :partial => 'users/registrations/new_personal', :locals => {:f => f} %>

    <p><%= f.label _("About me") %><br />
    <%= f.text_area :about_me %></p>
  <% end %>

  <p><%= f.simple_captcha :label => _("Enter the characters above..") %></p>

  Email me updates of projects or charities I follow when: <br />
    <p><%= f.check_box :notice_all_funds_raised %>
    <%= f.label _("All founds are raised") %></p>

    <p><%= f.check_box :notice_status_change %>
    <%= f.label _("The status changes") %></p>

    <p><%= f.check_box :notice_status_update_published %>
    <%= f.label _("New status updates are published") %></p>

    <p><%= f.check_box :notice_comment_added %>
    <%= f.label _("Comments are added") %></p>

    <% if (@type == :charity) %>
      <p><%= f.check_box :auto_approve_comments %>
      <%= f.label _("Auto-approve comments of my charity of projects") %></p>
    <% end%>

    <p><%= f.check_box :send_me_news %>
    <%= f.label _("Send me bivo.org news") %></p>

  <p><%= f.submit _("Update") %></p>
<% end %>
