<% content_for :js do %>
  $(function () {
    $("#user_type_personaluser").click(function () {
      $("#charity_form").css("display", "none");
      $("#personal_form").css("display", "block");
    });

    $("#user_type_charity").click(function () {
      $("#charity_form").css("display", "block");
      $("#personal_form").css("display", "none");
    });
  });
<% end %>

<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
  <%= f.radio_button :type, _("PersonalUser"), :checked => true %> <%= f.label :personal, _("Personal")  %> <br />
  <%= f.radio_button :type, _("Charity") %>  <%= f.label :charity, _("Charity")  %>	

  <p><%= f.label :email, _("E-Mail") %><br />
  <%= f.text_field :email %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>

  <div id="charity_form" style="<%= get_display_of :Charity, @user %>">
    <%= render :partial => 'users/registrations/new_charity', :locals => {:countries => @countries, :categories => @categories, :f => f} %>
  </div>

  <div id="personal_form" style="<%= get_display_of :PersonalUser, @user %>">
    <%= render :partial => 'users/registrations/new_personal', :locals => {:f => f} %>
  </div>

  <%= f.simple_captcha :label => _("Enter the characters above..") %>

  <p><%= f.check_box :eula_accepted %>
  <%= f.label :eula_accepted, _("I agree to the ") %><%= link_to _("terms and conditions"), eula_path, :target => :_new %></p>

  <p><%= f.check_box :send_me_news %>
  <%= f.label :send_me_news, _("Sign me up to the newsletter") %></p>

  <p><%= f.submit _("Create Account") %></p>
<% end %>
