<% content_for :js do %>
  $(function () {
    $("#user_type_personaluser").click(function () {
      $("#charity_form").css("display", "none");
      $("#personal_form").css("display", "block");
    });

    $("#user_type_charity").click(function () {
      $("#charity_form").css("display", "block");
      $("#personal_form").css("display", "none");
    });  
  });
<% end %>

<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
  <%= f.radio_button :type, "PersonalUser", :checked => true %> <%= f.label :personal, "Personal",  %> <br />
  <%= f.radio_button :type, "Charity" %>  <%= f.label :charity, "Charity"  %>	

  <div id="charity_form" style="display:none;">
    <%= render :partial => 'users/registrations/new_charity', :locals => {:countries => @countries, :categories => @categories, :f => f} %>
  </div>

  <div id="personal_form" style="display:block;">
    <%= render :partial => 'users/registrations/new_personal', :locals => {:f => f} %>
  </div>

  <p><%= check_box_tag :eula_accepted %>
  <%= label_tag :eula_accepted, "I agree to the terms and conditions" %></p>

  <p><%= f.check_box :send_me_news %>
  <%= f.label :send_me_news, "Sign me up to the newsletter" %></p>

  <p><%= f.submit "Create Account" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
