<% content_for :js do %>
  $(function () {
    $("#user_type_personaluser").click(function () {
      $("#charity_form").css("display", "none");
      $("#personal_form").css("display", "block");
    });

    $("#user_type_charity").click(function () {
      $("#charity_form").css("display", "block");
      $("#personal_form").css("display", "none");
    });
	
	$('#recaptcha_widget_div').addClass ('captua');

  });
<% end %>

<div class="inbodyM">
	<div class="bodyInSm">
    	<div class="GrTSm"><h2><%= _("Create Account") %></h2></div>
        <div class="boxMainSm">
			<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
				<%= render "shared/error_messages", :target => resource %>
        		<p class="accfilTxt">Account Type</p>
				<%= f.radio_button :type, _("PersonalUser"), :id => "user_type_personaluser", :class => "radio", :checked => true %>
				<p class = "accfilTxt radTxt" ><%= f.label :personal, _("Personal"), :for => "user_type_personaluser" %></p>
				<%= f.radio_button :type, _("Charity"), :id => "user_type_charity", :class => "radio" %>
				<p class = "accfilTxt radTxt" ><%= f.label :charity, _("Charity"), :for => "user_type_charity", :class => "accfilTxt radTxt"  %></p>
				<br class="spacer" />


  
  				<p class="accfilTxt"><%= f.label :email, _("Email") %></p>
				<%= f.text_field :email, :class => "accfil" %>
				<br class="spacer" />
				
				<p class="accfilTxt"><%= f.label :password, _("Password") %></p>
				<%= f.password_field :password, :class => "accfil" %>
				<br class="spacer" />

				<p class="accfilTxt"><%= f.label :password_confirmation,_("Password Confirmation") %></p>
				<%= f.password_field :password_confirmation, :class => "accfil" %>
				<br class="spacer" />
				

				<div id="charity_form" style="<%= get_display_of :Charity, @user %>">
					<%= render :partial => 'users/registrations/new_charity', :locals => {:countries => @countries, :categories => @categories, :f => f} %>
				</div>

				<div id="personal_form" style="<%= get_display_of :PersonalUser, @user %>">
				<%= render :partial => 'users/registrations/new_personal', :locals => {:f => f} %>
				</div>
				
				
				<div class="captuaR" style="margin-left: 175px;">
			    	<div class="ChkTxtM">
						<br class="spacer" />
						<%= f.check_box :eula_accepted, :class => "Chk"%>
						<p class="ChkTxt"><%= f.label :eula_accepted, _("I accept the ") %><%= link_to _("terms & conditions"), eula_path, :target => :_new %></p>
						<br class="spacer" />
						<%= f.check_box :send_me_news, :class => "Chk" %>
						<p class="ChkTxt"><%= f.label :send_me_news, _("Sign me up to the newsletter") %></p>
						<br class="spacer" />
					</div>					
				</div>
				<%= raw recaptcha_tags :display => {:theme => 'clean'}%>
				
				<br class="spacer" />
				<br class="spacer" />
				<br class="spacer" />
				
				
				<div class="buttonMainACC">
					<div class="buttonSide accBtnSt"></div>
					<%= f.submit _("Create Account"), :class => "buttonMid accBtnMi", :id => "account" %>
	                <div class="buttonSide accBtnEn"></div>
					<br class="spacer" />
	           </div>

				<p></p>
			<% end %>

 		</div>

	</div>
	<div class="bodyBot"></div>
</div>

